.txt__area {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 6px solid #c6c6c6;
  > .title {
    margin-bottom: 20px;
  }
  > .info {
    line-height: 1.6;
    letter-spacing: 1.6px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media screen and(max-width:1199px) {
  .list__area {
    height: 40px;
  }
  .list__area {
    //選單位外框
    border-bottom: 1px solid #c6c6c6;
    margin-bottom: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
      right: 1%;
    }
    > .list__show {
      font-size: 16px;
      font-family: "Open Sans";
      font-weight: 700;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 0;
      width: 90%;
      background-color: transparent;
    }
  }
}

.show__area {
  //border: 1px solid #000;
  margin-bottom: 35px;
  > ul {
    display: flex;
    justify-content: space-between;
    color: #777;
    flex-wrap: wrap;
    > .show__list {
      width: 48.5%;
      margin-bottom: 35px;
    }
  }
}
