.proin__imgarea {
  position: relative;
  //border: 1px solid #000;
  height: 0;
  padding-bottom: 48.3125vw;
  //870px
  width: 100%;
  @media screen and(max-width:1199px) {
    padding-bottom: 127.05vw;
    //0.6%
  }
  @media screen and(max-width:767px) {
    padding-bottom: 155.75vw;
  }

  .blue__box {
    //藍色區域
    width: 65.3645%;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    padding-bottom: 35.4167vw;
    //680px
    background-color: #0e6ccd;
    @media screen and(max-width:1199px) {
      width: 92.1875%;
      top: auto;
      bottom: 0;
      padding-bottom: 37.5%;
      z-index: 2;
    }
    @media screen and(max-width:767px) {
      padding-bottom: 62.5%;
    }
  }
  .font__img {
    //文字圖片區玉
    position: absolute;
    width: 72.9166%;
    height: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 16.1458vw;
    z-index: -1;
    > img {
      @include img-cover;
    }
  }
  > .proin__title {
    position: absolute;
    top: 17.1875vw;
    //330px
    right: 15.625vw;
    //300px
    z-index: 2;
    color: #fff;
    text-align: right;
    @media screen and(max-width:1199px) {
      top: auto;
      bottom: 16.5%;
      right: 6.25%;
    }
    @media screen and(max-width:767px) {
      bottom: 20.5%;
    }
    > .en__title {
      font-size: $dsktitle;
      margin-bottom: 1.8229vw;
      font-family: "Open Sans";
      font-weight: 700;
      @media screen and(max-width:1199px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
    > .ch__class {
      font-size: $dsk2st;
      @media screen and(max-width:1199px) {
        font-size: 18px;
      }
    }
  }
  .slider__info {
    //border: 1px solid #f00;
    width: 68.7179%;
    position: relative;
    height: 0;
    padding-bottom: 35.6771vw;
    @media screen and(max-width:1199px) {
      width: 100%;
      padding-bottom: 98.8125%;
    }
  }
  .info__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    > picture {
      @include img-cover;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.proin_swiper-container {
  position: absolute;
  width: 100%;
  top: 7.25vw;
  //120px
  left: 0;
  @media screen and(max-width:1199px) {
    top: 60px;
  }
}

.slide__btns {
  position: absolute;
  z-index: 10;
  top: 28.6458vw;
  //550px
  right: 15.625vw;
  //300px
  @media screen and(max-width:1199px) {
    top: auto;
    right: 6.25%;
    bottom: 8%;
  }
  .btn-next::before {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  .btn-prev::before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}
