.proin__cco {
  //border: 1px solid #000;
  width: 77.3437%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  //1485px
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    width: 84.375%;
  }

  .main__titlearea {
    //border: 1px solid #000;
    width: 28.6195%;
    @media screen and(max-width:1199px) {
      width: 100%;
    }

    > h2 {
      font-size: $dsk2title;
      margin-bottom: 1.8229vw;
      //35px
      font-family: "Open Sans";
      font-weight: 700;
      //border: 1px solid #000;
      position: relative;

      @media screen and(max-width:1199px) {
        margin-bottom: 85px;
        font-size: 28px;
        position: relative;
      }
    }
    > h3 {
      font-size: $dsk2st;
      font-weight: 700;
      @media screen and(max-width:1199px) {
        font-size: 18px;
      }
    }
  }
  .info {
    > .real__txt {
      color: #777777;
      letter-spacing: 1.6px;
      line-height: 1.6;
      transform: translateY(50%);
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        font-size: 14px;
        position: relative;
        //border: 1px solid #000;
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #7777;
          bottom: 0;
          left: 0;
          transform: translateY(7.635vw);
        }
      }
      @media screen and(max-width:767px) {
        &::after {
          transform: translateY(14.635vw);
        }
      }
    }
  }
  .right__area {
    //右邊區塊設定用
    width: 68.6868%;
    //border: 1px solid #f00;
    @media screen and(max-width:1199px) {
      width: 100%;
    }
  }
}
.proin__apptxt {
  //border: 1px solid #000;
  margin-top: 1.3021vw;
  //25px
  padding-bottom: 9.8958vw;
  //190px
  @media screen and(max-width:1199px) {
    margin-top: 50px;
    padding-bottom: 20.4375vw;
  }
  > .proin__cco {
    align-items: flex-end;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 40.4375vw;
  }
}

.con__btn {
  //聯絡我們按鈕
  margin-top: 4.1667vw;
  //80px
  display: inline-block;
  padding-top: 2.0833vw;
  padding-bottom: 2.0833vw;
  padding-right: 5.2083vw;
  padding-left: 5.2083vw;
  //40px
  position: relative;
  border: 1px solid #000;
  position: relative;
  font-size: $dsk1st;
  @media screen and(min-width:1199px) {
    &:hover {
      border: 1px solid transparent;
      background-color: $main-blue;
      transition: 0.5s;
      color: #fff;
    }
  }
  @media screen and(max-width:1199px) {
    font-size: 14px;
    margin-top: 0;
    padding: 0;
    width: 270px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    margin-bottom: 50px;
  }
  @media screen and(max-width:767px) {
    width: 84.375vw;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 80px;
    height: 40px;
    border-right: 2px solid #b2823d;
    border-bottom: 2px solid #b2823d;
  }
}
.list__group {
  display: flex;
  justify-content: space-between;
  //border: 1px solid #000;
  //align-items: flex-start;
  padding-top: 2.6042vw;
  //50px
  font-size: $dsk1st;
  @media screen and(max-width:1199px) {
    font-size: 12px;
  }
  > .title {
  }
  .list__title {
    //50px
    font-weight: 700;
    border-top: 6px solid #c6c6c6;
    padding-top: 2.6042vw;
    //50px
  }

  > .info {
    width: 84.8039%;
  }
  > .list__title {
    width: 13.3333%;
  }
  > .total__show {
    padding-top: 2.6042vw;
    //50px
    border-top: 1px solid #c6c6c6;
    width: 84.8039%;
    display: flex;
    flex-wrap: wrap;

    > .item {
      width: 20%;
      //margin-bottom: 1.5625vw;
      color: #7777;
      opacity: 0.7;
      &:nth-child(5n) {
        margin-bottom: 1.5625vw;
      }
      //30px
    }
  }
}
.proin__tabletxt {
  .table__list {
    margin-top: 2.6042vw;
    //50px
    margin-bottom: 10.4167vw;
    //200px
    @media screen and(max-width:1199px) {
    }
  }
}

//最外恇特殊６px邊線
//最後一排的特殊高度

.table__group {
  @include first(2) {
    //background-color: #ddd;
    > .total__show {
      border-top: 6px solid #c6c6c6;
    }
  }
  @include last(1) {
    //background-color: #ddd;
    > .total__show {
      border-bottom: 6px solid #c6c6c6;
      padding-bottom: 2.6042vw;
      //50px
    }
    > .list__title {
      border-bottom: 6px solid #c6c6c6;
    }
  }
}

.rwd__btnarea {
  ///rwd按鈕設定
}
.set-title {
  > h2 {
    &::after {
      content: "";
      position: absolute;
      bottom: 30%;
      left: 100%;
      width: 50px;
      height: 6px;
      background-color: $main-blue;
      transform: translateX(30%) translateY(-50%);
    }
    @media screen and(max-width:1199px) {
      &::after {
        left: 0;
        bottom: 0;
        transform: translateX(0%) translateY(35px);
      }
    }
  }
}
.set-text {
  transform: translateX(-25px);
  @media screen and(max-width:1199px) {
    transform: translateX(0px);
  }
}
