.list__dsk > .list__link {
  color: #000;
}
.list__dsk > .language > a {
  color: #000;
}

.list__dsk > .list__link.active {
  &::after {
    background-color: $main-blue;
  }
}

.slide__wrap {
  display: flex;
  flex-direction: row-reverse;
  //border: 5px solid #f00;
  position: relative;
  width: 100%;
  height: 100vh;

  //padding-bottom: 56.25vw;
  @media screen and(max-width:1199px) {
    height: 3000px;
  }
  //120px
  //150px
}

.slide-container {
  //輪播區域鎖定用
  position: absolute;
  top: 3vw;
  width: 100%;
  height: 81.4814%;
  //border: 1px solid #000;
  left: 0;
  @media screen and(max-width:1199px) {
    width: 100%;
    height: auto;
    top: 0;
  }
}

//右邊輪播區域
.top_swiper-container {
  width: 59.1875%;
  position: absolute;
  right: 4.5vw;
  bottom: 0;
  //border: 1px solid #f00;
  // position: absolute;
  // top: 56%;
  // right: 4%;
  // transform: translateY(-50%);
  @media screen and(max-width:1199px) {
    width: 84.375%;
  }
}

//右邊區域內部內容
.top_swiper-slide {
  position: relative;
  z-index: 2;
  height: 0;
  padding-bottom: 35.1875vw;
  //共用一起撐開
  > .top__img {
    position: absolute;
    top: 0;
    left: 2%;
    width: 55%;
    height: 100%;
    //border: 1px solid #000;
    transition: 1s;
    @media screen and(min-width:1199px) {
      overflow: hidden;
    }
    > picture {
      transition: 1s;
      transform: scale(1);
      @media screen and(min-width:1199px) {
        &:hover {
          transform: scale(1.05);
          transition: 1s;
        }
      }
      @include img-cover;
      > img {
        transition: 1s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        @media screen and(min-width:1199px) {
          &:hover {
            transform: scale(1.05);
            transition: 1s;
          }
        }
      }
    }
  }
  //910////280
  > .title__area {
    position: absolute;
    top: 0;
    right: 13%;
    width: 26.5%;
    height: 100%;
    //border: 1px solid #f00;
    //810px
    //background-color: rgba($color: #000000, $alpha: 0.3);
    //backdrop-filter: blur(5px)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #000;
    //border: 1px solid #000;
    transform: translateX(10%);
    > .en__title {
      //width: 58%;
      font-size: $dsk2title;
      margin-bottom: 1.0417vw;
      //20px
      font-weight: 700;
      font-family: "Open Sans";
    }
    > .class {
      //width: 55%;
      font-size: $dsk2st;
      margin-bottom: 3.125vw;
      //60px
    }
    > .info {
      //width: 55%;
      line-height: 1.6;
      letter-spacing: 1.6px;
      color: #777777;
      font-size: $dsk1st;
      transform: translateY(25px);
      opacity: 0;
      transition: 1s 2.5s;
    }
  }
}
.swiper-slide-active {
  .title__area {
    > .info {
      opacity: 1;
      transform: none;
    }
  }
}

//底部灰色區域
.gray__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding-bottom: 12.5vw;
  //240px
  background-color: #ccc;
}

//按鈕設定
.arrow__btns {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.swiper-button-white {
  border: 1px solid #000;
  padding: 20px;
}
//字的位置
.pro__font {
  top: 13.4167vw;
  //+2vw
  left: 0;
  position: absolute;
  width: 41.6666%;
  height: 0;
  padding-bottom: 17.9688vw;
  //345px
  z-index: 3;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.win__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 12.5vw;
  //250px
  overflow: hidden;
  @media screen and(min-width:1199px) {
  }
  @media screen and(max-width:1199px) {
    width: 84.375%;
    padding-bottom: 88.125vw;
  }
  > picture {
    // transition: 1s;
    // transform: scale(1);
    // @media screen and(min-width:1199px) {
    //   &:hover {
    //     transform: scale(1.05);
    //     transition: 1s;
    //   }
    // }
    @include img-cover;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transition: 1s;
      // transform: scale(1);
      // @media screen and(min-width:1199px) {
      //   &:hover {
      //     transform: scale(1.03);
      //     transition: 1s;
      //   }
      // }
    }
  }
}

//左邊區域
.win__txt {
  margin-top: 1.3021vw;
  //25px
  opacity: 0;
  border-top: 6px solid #0e6ccd;
  @media screen and(max-width:1199px) {
    opacity: 1;
    border-top: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 84.375%;
  }
  > .win__class {
    margin-top: 1.3021vw;
    //25px
    text-align: left;
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      font-size: 18px;
      font-weight: 700;
    }
  }
  > .win__entitle {
    text-align: left;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 700;
  }
}
.thumbs_swiper-container {
  //手機版變版用

  //width: 46.4646%;
  width: 36.4646%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(3.65vw);
  @media screen and(max-width:1199px) {
    position: relative;
    bottom: auto;
    top: 60px;
    width: 100%;
    transform: translateY(0%);
    margin-bottom: 100px;
  }
  .swiper-slide {
  }
  .swiper-slide-active {
    display: none;
    .win__txt {
      opacity: 1;
    }
  }
  .swiper-slide-next {
    //border: 1px solid #f00;
    .win__txt {
      opacity: 1;
    }
  }
}

.pro__btns {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(8vw);
  z-index: 10;

  > .pro-prev {
    //border: 1px solid #000;
    &::before {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
    }
  }
  > .pro-next {
    &::before {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
  }
}

.pro-pagination {
  position: absolute;
  top: 0;
  right: 0;
  //120px
  color: #000;
  transform: translateX(9.3vw);
  //border: 1px solid #000;
  pointer-events: none;
  > .swiper-pagination-current {
    letter-spacing: 1.6px;
    &::before {
      content: "0";
      display: inline-block;
    }
  }
  > .swiper-pagination-total {
    opacity: 0.3;
    letter-spacing: 1.6px;
    &::before {
      content: "0";
      display: inline-block;
    }
  }
}

.common-footer {
  display: none;
  @media screen and(max-width:1199px) {
    display: block;
  }
}

.win_swiper-wrapper {
  @media screen and(max-width:1199px) {
    //手機變版用
    flex-wrap: wrap;
    > .swiper-slide {
      text-align: center;
    }
  }
}
