.news__cco {
  width: 77.3437%;
  margin: 0 auto 12.5vw;
  //240px
  position: relative;
  @media screen and(max-width:1199px) {
    width: 84.375%;
  }

  > .en__title {
    font-size: $dsk2title;
    margin-bottom: 2.0833vw;
    //40px
    font-weight: 700;
    font-family: "Open Sans";
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
  .list__area {
    border-top: 1px solid #ababab;
    display: flex;
    align-items: flex-start;
    height: 7.8125vw;
    //150px
    font-size: $dsk1st;
    padding-top: 2.6042vw;
    //50px
    @media screen and(max-width:1199px) {
      flex-wrap: wrap;
      font-size: 14px;
      height: auto;
    }
    @include last(1) {
      @media screen and(max-width:1199px) {
        border-bottom: 1px solid #ababab;
      }
    }
    > .date {
      margin-right: 5.2083vw;
      //100px
      @media screen and(max-width:1199px) {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 28px;
      }
    }
    > .class {
      margin-right: 2.0833vw;
      //40px
      @media screen and(max-width:1199px) {
        margin-bottom: 15px;
      }
    }
    > .info {
      width: 37%;
      color: #777777;
      opacity: 0.7;
      letter-spacing: 1.6px;
      line-height: 1.6;
      @media screen and(max-width:1199px) {
        width: 100%;
        margin-bottom: 35px;
      }
    }
    > .list__btn {
      width: 220px;
      //border: 1px solid #000;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 7.8125vw;
      text-align: center;
      padding-top: 2.6042vw;
      //50px
      transition: 0.5s;
      @media screen and(max-width:1199px) {
        //border: 1px solid #000;
        top: 92.5%;
        transform: translateY(-100%);
        height: auto;
        padding-top: 0;
        text-align: right;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 220px;
        height: 6px;
        background-color: transparent;
        transition: 0.5s;
        @media screen and(max-width:1024px) {
          background-color: #000;
          width: 110px;
          transform: translateY(15px);
        }
      }
      &:hover {
        @media screen and(min-width:1200px) {
          color: #0e6ccd;
          transition: 0.5s;
          &::after {
            background-color: #0e6ccd;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
