.news__imgarea {
  //圖片最外框區域
  //border: 1px solid #000;
  position: relative;
  height: 0;
  padding-bottom: 48.9583vw;
  @media screen and(max-width:1199px) {
    padding-bottom: 127.05vw;
    //0.6%
  }
  @media screen and(max-width:767px) {
    padding-bottom: 155.75vw;
  }

  > .news__mainimg {
    //圖片顯示區域
    position: absolute;
    z-index: 2;
    //border: 1px solid #f00;
    top: 8.3333vw;
    //160px
    width: 0%;
    //width: 69.5312%;
    height: 0;
    padding-bottom: 35.4167vw;
    //680px

    @media screen and(max-width:1199px) {
      width: 100%;
      padding-bottom: 98.8125%;
      top: 60px;
    }

    > picture {
      @include img-cover;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.news__msk {
  position: absolute;
  z-index: 3;
  //border: 1px solid #f00;
  top: 0;
  //160px
  width: 100%;
  height: 100%;
  //680px
  background-color: rgba($color: #fff, $alpha: 0.7);
}
.blue__blue {
  position: absolute;
  width: 65.3645%;
  height: 0;
  top: 0;
  right: 0;
  padding-bottom: 35.4167vw;
  background-color: #0e6ccd;
  opacity: 0;
  transform: scaleX(0);
}

.blue__box {
  position: absolute;
  width: 65.3645%;
  height: 0;
  top: 0;
  right: 0;
  padding-bottom: 35.4167vw;
  //background-color: #0e6ccd;
  //680px
  @media screen and(max-width:1199px) {
    background-color: #0e6ccd;
    width: 92.1875%;
    top: auto;
    bottom: 0;
    padding-bottom: 35.4167vw;
    z-index: 2;
    transition: 1s;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 45.4167vw;
  }
  &.aniMbl {
    @media screen and(max-width:1199px) {
      opacity: 0;
      transition: 1s;
    }
  }
  > .news__title {
    position: absolute;
    top: 17.1875vw;
    //330px
    right: 15.625vw;
    //300px
    color: #fff;
    z-index: 3;
    @media screen and(max-width:1199px) {
      top: auto;
      bottom: 35.5%;
      right: 6.25%;
    }
    @media screen and(max-width:767px) {
      bottom: 30.5%;
    }
    > .en__title {
      font-size: $dsktitle;
      font-weight: 700;
      font-family: "Open Sans";
      margin-bottom: 1.8229vw;
      //35px
      display: flex;
      @media screen and(max-width:1199px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
    > .cn__title {
      font-size: $dsk2st;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      @media screen and(max-width:1199px) {
        font-size: 18px;
      }
    }
  }
}
.font__news {
  //border: 1px solid #000;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  padding-bottom: 16.1458vw;
  width: 77.0913%;
  z-index: -1;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
