.news__tabsslide {
  //border: 1px solid #000;
  padding-top: 5.2083vw;
  //100px
  padding-bottom: 7.8125vw;
  //150px
  overflow: hidden;
  @media screen and(max-width:1199px) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.tab__cco {
  width: 77.3437%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  //border: 1px solid #000;
  .swiper-tabs1 {
    width: 100%;
  }
  @media screen and(max-width:1199px) {
    width: 92.1875%;
    //border: 1px solid #c6d;
    transform: translateX(5%);
  }

  &::after {
    position: absolute;
    z-index: 2;
    content: 77.3437%;
    height: 1px;
    content: "";
    width: 100%;
    top: 0;
    background-color: #ababab;
    transform: translateY(4.6875vw);
    @media screen and(max-width:1199px) {
      transform: translateY(10.6875vw);
      width: 90%;
    }
    @media screen and(max-width:767px) {
      transform: translateY(20.6875vw);
    }
  }
  > .tabs {
    //border: 1px solid #000;
    @media screen and(max-width:767px) {
      width: 105%;
    }

    > a {
      font-size: $dsk2st;
      display: inline-block;
      width: 11.4583vw;
      //220px
      color: #7777;
      @media screen and(max-width:1199px) {
        font-size: 18px;
      }
      @media screen and(max-width:767px) {
        width: 33.33333%;
      }
    }
    > .on {
      color: #000;
      position: relative;
      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(20px);
        content: "";
        width: 50px;
        height: 6px;
        background-color: #0e6ccd;
      }
    }
  }
}

.tab__area {
  //border: 1px solid #000;
  padding-bottom: 4.6875vw;
  width: 50%;
  margin-left: 0px;
  //90px
  .swiper-slide {
    width: 11.4583vw;
    //border: 1px solid #000;
    color: #c9c9c9;
  }
  .swiper-slide-thumb-active {
    color: #000;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(20px);
      content: "";
      width: 50px;
      height: 6px;
      background-color: #0e6ccd;
    }
  }
}

.tab-content {
  width: 100%;
  position: relative;
}

.swiper-slide {
  > .post {
    display: flex;
    //border-top: 1px solid #777;
    padding-top: 15.3333vw;
    //160px
    padding-bottom: 3.125vw;
    //60px
    @media screen and(max-width:1199px) {
      //background-color: #ccc;
      flex-wrap: wrap;
      justify-content: flex-end;
      overflow: hidden;
      padding-top: 15.3333vw;
    }
    @media screen and(max-width:767px) {
      padding-top: 25.3333vw;
    }
  }
}
.post__txt {
  position: relative;
  > * {
    transform: translateY(25px);
    transition: all 0.4s;
    opacity: 0;
  }
  @media screen and(max-width:1199px) {
    //border: 1px solid #f00;
    width: 100%;
  }
  > .date {
    font-size: $dsk2title;
    margin-bottom: 1.0417vw;
    font-family: "Open Sans";
    font-weight: 700;
    transition-delay: 0.8s;
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  > .tab__week {
    margin-bottom: 2.6042vw;
    font-weight: 700;
    font-size: $dsk1st;
    //50px
    transition-delay: 0.8s;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      padding-bottom: 60vw;
    }
    @media screen and(max-width:767px) {
      padding-bottom: 260px;
      //border: 1px solid #000;
    }
  }
  > .tab__class {
    font-size: $dsk1st;
    //border: 1px solid #000;
    transition-delay: 1s;
    @media screen and(max-width:1199px) {
      margin-bottom: 140px;
      font-size: 14px;
    }
  }
  > .tab__info {
    width: 60%;
    letter-spacing: 1.6px;
    line-height: 1.6;
    color: #777777;
    margin-bottom: 1.5625vw;
    //30px
    font-size: $dsk1st;
    transition-delay: 0.9s;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      margin-bottom: 20px;
      width: 90%;
    }
  }
  > .btn__link {
    position: absolute;
    bottom: 1px;
    left: 0;
    padding: 2.0833vw 4.6875vw;
    border: 1px solid #000;
    font-size: $dsk1st;
    transition-delay: 1s;
    @media screen and(min-width:1199px) {
      &:hover {
        border: 1px solid transparent;
        background-color: $main-blue;
        transition: 0.5s;
        color: #fff;
      }
    }
    @media screen and(max-width:1199px) {
      padding: 0;
      width: 270px;
      height: 90px;
      text-align: center;
      line-height: 90px;
      font-size: 14px;
    }
    @media screen and(max-width:767px) {
      width: 90%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 80px;
      height: 40px;
      border-right: 2px solid #b2823d;
      border-bottom: 2px solid #b2823d;
    }
  }
}
.post__img {
  position: relative;
  width: 700px;
  height: 0;
  padding-bottom: 385px;
  > picture {
    @include img-fill;
    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  @media screen and(max-width:1199px) {
    position: absolute;
    right: 0;
    top: 27vw;
    transform: translateX(30px);
  }

  @media screen and(max-width:767px) {
    top: 49vw;
    width: 98%;
    padding-bottom: 190px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 6px solid #0e6ccd;
    top: 0;
    z-index: 2;
    transform: translateX(-3.125vw) translateY(3.125vw);
    //40px=>60px
    @media screen and(max-width:1199px) {
      width: 95%;
      transform: translateX(-36px) translateY(20px);
    }
    @media screen and(max-width:767px) {
      width: 90%;
    }
  }
}

#main-navigation {
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    .nav-link {
      padding: 10px;
      flex-grow: 1;
      text-align: center;
      border-right: 1px solid #dedede;
      cursor: pointer;
    }
  }
}

.links-container {
  position: relative;
  padding: 0;
}

.swiper-scrollbar {
  height: 3px;
  background-color: transparent;
  opacity: 1 !important;
}
.swiper-scrollbar-drag {
  background-color: red;
  border-radius: 0;
  top: -4px;
}

.swiper-tabs1 {
  .swiper-slide-active {
    .post__txt {
      > * {
        opacity: 1;
        transform: none;
      }
    }
  }
}
