.index__awardarea {
  width: 100%;
}

.award__container {
  width: 77.083333333%;
  //border: 1px solid #000;
  margin: 0 auto;
  @include flex-sp-cen;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    width: 87.5%;
  }
  > .award__slide {
    border: 6px solid #0e6ccd;
    width: 37%;
    transform: translateY(-5.2083vw) translateX(-3.9063vw);
    @media screen and(max-width:1199px) {
      width: 100%;
      transform: translateY(0vw) translateX(0vw);
      display: flex;
      align-items: flex-start;
    }
    @media screen and(max-width:767px) {
      flex-direction: column;
      align-items: center;
    }

    .slide__titlearea {
      margin-top: 3.9063vw;
      margin-left: 3.9063vw;
      @media screen and(max-width:1199px) {
        margin-top: 40px;
        margin-left: 30px;
      }
      > h2 {
        font-size: $dsk2title;
        font-weight: 700;
        color: #353535;
        font-family: "Open Sans";
        margin-bottom: 1.3021vw;
        //25px
        @media screen and(max-width:1199px) {
          font-size: 28px;
          margin-bottom: 20px;
        }
        > span {
          //45px
          margin-top: 2.3438vw;
          display: block;
          font-size: $dsk2st;
          font-weight: 700;
          @media screen and(max-width:1199px) {
            margin-top: 30px;
            font-size: 22px;
          }
          @media screen and(max-width:767px) {
            font-size: 18px;
          }
        }
      }
      > p {
        color: #555555;
        letter-spacing: 1.6px;
        line-height: 1.6;
        margin-bottom: 2.3438vw;
        //45px
        font-size: $dsk1st;
        @media screen and(max-width:1199px) {
          width: 90%;
          font-size: 16px;
        }
        @media screen and(max-width:767px) {
          font-size: 14px;
        }
      }
    }
  }
}

.award_swiper-container {
  position: relative;
  width: 85%;
  //border: 1px solid #000;
  margin-bottom: 3.125vw;
  //60px
  padding-bottom: 3.9063vw;
  //75px
  @media screen and(max-width:1199px) {
    //border: 1px solid #000;
    padding-bottom: 60px;
    margin-bottom: 50px;
  }
  .award_swiper-pagination {
    position: absolute;
    bottom: 0;
    //border: 1px solid #000;
    //70px
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin-right: 15px;
      margin-left: 15px;
      border: 1px solid #000;
      background-color: transparent;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #0e6ccd;
    }
  }
}

.index__linknews {
  //border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 60.08888%;
  @media screen and(max-width:1199px) {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 60px;
    flex-direction: column-reverse;
  }
  .news__txt {
    //border: 1px solid #f00;
    width: 30%;
    @media screen and(max-width:1199px) {
      width: 100%;
      position: relative;
      &::after {
        position: absolute;
        bottom: 40%;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ccc;
      }
    }
    > .news__title {
      font-size: $dsk2st;
      font-weight: 700;
      margin-bottom: 4.9479vw;
      position: relative;
      @media screen and(max-width:1199px) {
        font-size: 18px;
        padding-bottom: 30px;
        margin-bottom: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 530px;
        //530px
        height: 2px;
        background-color: #b2823d;
        bottom: 0;
        left: 0;
        transform: translateY(1.5625vw);
        z-index: 2;
        @media screen and(max-width:1199px) {
          width: 100%;
          transform: translateY(0px);
        }
        //30px
      }
      //95px
    }
    > .info__area {
      //連結區域
      @media screen and(max-width:1199px) {
        width: 100%;
        //border: 1px solid #000;
        margin-top: 35px;
      }
    }
    .info__time {
      color: #0e6ccd;
      font-size: $dsk1st;
      font-weight: 700;
      font-family: "Open Sans";
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
    .info__timetxt {
      margin-top: 10px;
      margin-bottom: 30px;
      line-height: 1.6;
      letter-spacing: 1.4px;
      font-size: $dsk1st;
      color: #777;
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
  }
  .news__img {
    position: relative;
    width: 460px;
    //border: 1px solid #000;
    height: 0;
    padding-bottom: 250px;
  }
  .img__area {
    @media screen and(max-width:1199px) {
      .news__title {
        font-family: "Open Sans";
        padding-bottom: 40px;
        margin-bottom: 50px;
        font-weight: 900;
        border-bottom: 2px solid #b2823d;
        font-size: 18px;
      }
    }
    @media screen and(max-width:767px) {
    }
  }
}

.info__img {
  @media screen and(max-width:767px) {
    //border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
