.index__caesarea {
  //border: 1px solid #000;
  position: relative;
  height: 0;
  padding-bottom: 65.625vw;
  //1260px
  overflow: hidden;
  @media screen and(max-width:1199px) {
    //border: 1px solid #000;
    overflow: visible;
    padding-bottom: 195.375vw;
    margin-bottom: 180px;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 235.375vw;
    margin-bottom: 350px;
  }
}
//webp還沒寫js判斷
.webp .index__caesarea {
  background-image: url("../img/index/case-dsk-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-webp .index__caesarea {
  background-image: url("../img/index/case-dsk-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.case__title {
  position: absolute;
  top: 8.3333vw;
  //160px
  width: 100%;
  height: 0;
  padding-bottom: 13.2813vw;
  //255px
  @media screen and(max-width:1199px) {
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    top: 60vw;
    //border: 1px solid #000;
  }
  @media screen and(max-width:767px) {
    top: 126.875vw;
  }

  > .case__font {
    @include img-cover;
    @media screen and(max-width:1199px) {
      font-size: 16px;
    }
  }
  > h2 {
    position: absolute;
    font-family: "Open Sans";
    left: 11.4583vw;
    //220px
    bottom: 0;
    font-size: $dsk2title;
    color: #0e6ccd;
    font-weight: 700;
    @media screen and(max-width:1199px) {
      font-size: 28px;
      left: 0;
    }
    @media screen and(max-width:767px) {
      bottom: 15px;
    }
  }
}
.case__info {
  position: absolute;
  width: 77.083333333%;
  top: 24.4792vw;
  //470px
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @include flex-sp-cen;
  //border: 1px solid #000;
  @media screen and(max-width:1199px) {
    width: 85%;
    align-items: flex-start;
  }

  > p {
    font-size: $dsk2st;
    letter-spacing: 1.6px;
    line-height: 1.6;
    font-weight: 700;
    color: #777;
    @media screen and(max-width:1199px) {
      font-size: 16px;
      margin-bottom: 90px;
    }
    @media screen and(max-width:767px) {
      margin-bottom: 40px;
    }
  }
  > .link__info {
    //了解更多按鈕
    display: inline-block;
    padding-top: 2.0833vw;
    padding-bottom: 2.0833vw;
    //40px
    padding-left: 5.2083vw;
    padding-right: 5.2083vw;
    //100px
    border: 1px solid #fff;
    color: #fff;
    position: relative;
    font-size: $dsk1st;
    transition: 0.5s;
    @media screen and(min-width:1199px) {
      &:hover {
        border: 1px solid transparent;
        background-color: $main-blue;
        transition: 0.5s;
      }
    }

    @media screen and(max-width:1199px) {
      display: block;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 14px;
      text-align: center;
    }
    @media screen and(max-width:767px) {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: auto;
      padding-right: auto;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 80px;
      height: 40px;
      border-right: 2px solid #b2823d;
      border-bottom: 2px solid #b2823d;
    }
  }
  @media screen and(max-width:1199px) {
    top: 86vw;
    flex-wrap: wrap;
  }
  @media screen and(max-width:767px) {
    top: 146.625vw;
  }
}

.case__container {
  width: 77.083333333%;
  position: absolute;
  top: 32.8125vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @media screen and(max-width:1199px) {
    width: 87.5%;
    top: 110.375vw;
  }
  @media screen and(max-width:767px) {
    top: 209.375vw;
  }
}

.case_swiper-wrapper {
  display: flex;
  //border: 1px solid #000;
  justify-content: space-between;
  @media screen and(max-width:1199px) {
    justify-content: center;
  }
}
.case_swiper-slide {
  position: relative;
  width: 27%;
  height: 0;
  padding-bottom: 21.875vw;
  //420px
  @media screen and(max-width:1199px) {
    width: 100%;
    padding-bottom: 87.5vw;
  }
  .slider__info {
    //border: 1px solid #f00;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .info__img {
      @include img-fill;
      transform: initial;
      transition: 1s;
      > picture {
        @include img-cover;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    @media screen and(min-width:1199px) {
      &:hover {
        .info__img {
          transform: scale(1.1);
          transition: 1s;
        }
      }
    }
  }
}
@media screen and(max-width:1199px) {
  .case_swiper-pagination {
    //border: 1px solid #000;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(0px);
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #000;
    background-color: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #0e6ccd;
  }
}
@media screen and(max-width:767px) {
  .case_swiper-pagination {
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translateX(-50%) translateY(20px);
  }
}
