body {
  overflow-x: hidden;
}

.index__mainslider {
  //border: 1px solid #000;

  @media screen and(max-width:1199px) {
    padding-top: 60px;
  }
}
//輪播區域
.index_swiper-container {
  .index_slider-info {
    //輪播的內容
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    > .info__txtmask {
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: rgba($color: #fff, $alpha: 1);
      //@extend: 1px solid #f00;
      z-index: 3;
    }
    > .info__txt {
      //文字區域
      //border: 1px solid #000;
      position: absolute;
      top: 50%;
      left: 8.5938vw;
      //165px
      transform: translateY(-50%);
      z-index: 2;
      > * {
        transform: translateY(25px);
        transition: all 1.5s;
        opacity: 0;
      }
      @media screen and(max-width:1199px) {
        width: 84.375%;
        top: auto;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      > .index__title {
        font-size: $dsktitle;
        font-family: "Open Sans";
        font-weight: 700;
        @media screen and(max-width:1199px) {
          font-size: 36px;
          color: #fff;
        }
        .top {
          color: $main-blue;
          @media screen and(max-width:1199px) {
            color: #fff;
          }
        }
      }
      > .cn__title {
        font-weight: 700;
        font-size: $dsk1st;
        margin-top: 4.1667vw;
        //80px
        margin-bottom: 1.5625vw;
        //30px
        transition-delay: 2.8s;
        @media screen and(max-width:1199px) {
          display: none;
        }
      }
      > .index__info {
        line-height: 1.6;
        color: #777;
        font-size: $dsk1st;
        letter-spacing: 1.6px;
        transition-delay: 3.3s;
        @media screen and(max-width:1199px) {
          display: none;
        }
      }
    }
    > .info__imgmask {
      position: absolute;
      top: 0;
      right: 0;
      width: 65%;
      height: 0;
      padding-bottom: 59.375vw;
      z-index: 2;
      background-color: $main-blue;

      @media screen and(max-width:1199px) {
        width: 100%;
        padding-bottom: 120.75vw;
      }
      @media screen and(max-width:767px) {
        padding-bottom: 140.75vw;
      }
    }
    > .info__img {
      //圖片區域
      position: relative;
      width: 100%;
      //width: 65%;
      height: 0;
      left: 0;
      padding-bottom: 59.375vw;
      //1140px
      overflow: hidden;
      //border: 1px solid #000;

      @media screen and(max-width:1199px) {
        width: 100%;
        padding-bottom: 120.75vw;
        transform: translateX(0px);
      }
      @media screen and(max-width:767px) {
        padding-bottom: 140.75vw;
      }
      > picture {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        //transform: scale(1.07);
        > img {
          //transform: scale(1.07);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.index_swiper-container {
  .swiper-slide-active {
    .info__txt {
      > * {
        opacity: 1;
        transform: none;
      }
    }
    // .info__img {
    //   transition: 0.5s;
    //   opacity: 1;
    //   transition-delay: 0.8s;
    // }
    .info__imgmask {
      transition: all 2s;
      width: 0;
    }
    .info__img {
      > picture {
        transform: initial;
        transition: 5s;
        > img {
          transform: initial;
          transition: 5s;
        }
      }
    }
  }
}

.top__sliderbtn {
  ///按鈕blue區域
  //680px
  width: 35.4166%;
  //width: 0;
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 0;
  padding-bottom: 20.8333vw;
  //400px
  background-color: $main-blue;
  z-index: 2;
  //border: 1px solid #000;
  @media screen and(max-width:1199px) {
    width: 100%;
    padding-bottom: 35vw;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 45vw;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    position: absolute;
    top: 85px;
    right: 85px;
    //border: 1px solid #f00;
    @media screen and(max-width:1199px) {
      width: 80px;
      top: 50%;
      transform: translateY(-50%);
      right: 8%;
    }
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      left: 50%;
      z-index: 2;
      transform: translateX(-50%);
      background-color: #4e79c1;
      opacity: 0.4;
    }
  }
  .next__msg {
    color: #ffffff;
    opacity: 0.7;
    letter-spacing: 1.6px;
    line-height: 1.6;
    position: absolute;
    top: 85px;
    left: 40px;
    font-size: $dsk1st;

    @media screen and(max-width:1199px) {
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
      left: 8%;
    }
    @media screen and(max-width:767px) {
      font-size: 14px;
    }
  }
}

.index__infocards {
  //三格黑色區域
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%) translateY(14.5833vw);
  //280px
  z-index: 5;
  width: 87.5%;
  height: 23.9583vw;
  //border: 1px solid #000;
  //460px
  @media screen and(max-width:1199px) {
    transform: translateX(-50%) translateY(90%);
    height: 40vw;
  }
  @media screen and(max-width:767px) {
    height: 100vw;
    transform: translateX(-50%) translateY(90%);
  }
}

.card_swiper-container {
  color: #fff;
  background-color: #272727;
  width: 100%;
  height: 100%;
  @media screen and(max-width:1199px) {
    //border: 1px solid #f00;
  }
  .card_swiper-slide {
    width: 33.333333%;
    position: relative;
    border-right: 1px solid #474747;
    @include last(1) {
      border-right: 0px;
    }
    @media screen and(max-width:1199px) {
      width: 100%;
    }
    .card_slider__info {
      //實際區域內層
      //border: 1px solid #fff;
      width: 82%;
      // height: 76.087%;
      position: relative;
      margin: 2.8646vw auto 0;
      @media screen and(max-width:1199px) {
        //border: 1px solid #fff;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .cn__title {
        font-size: $dsk2st;
        margin-bottom: 14px;
        @media screen and(max-width:1199px) {
          font-size: 22px;
        }
        @media screen and(max-width:767px) {
          font-size: 18px;
        }
      }
      .en__title {
        font-size: $dsk2st;
        margin-bottom: 30px;
        color: #b2823d;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-weight: 700;
        @media screen and(max-width:1024px) {
          font-size: 16px;
        }
      }
      .card__info {
        color: #777777;
        letter-spacing: 1.6px;
        line-height: 1.6;
        margin-bottom: 8.5vw;
        //195px
        font-size: $dsk1st;
        @media screen and(max-width:1199px) {
          font-size: 16px;
          margin-bottom: 65px;
        }
        @media screen and(max-width:767px) {
          font-size: 14px;
        }
      }
      .card__link {
        border-bottom: 2px solid #0e6ccd;
        width: 120px;
        height: 30px;
        text-align: center;
        font-size: $dsk1st;
        letter-spacing: 1.6px;
        @media screen and(max-width:1199px) {
          font-size: 16px;
        }
        @media screen and(max-width:767px) {
          font-size: 14px;
        }
      }
      .card__icon {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

@media screen and(max-width:1199px) {
  //點點的位置
  .card_swiper-pagination {
    position: absolute;
    border-bottom: 1px solid #000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin-right: 15px;
      margin-left: 15px;
      border: 1px solid #000;
      background-color: transparent;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #0e6ccd;
    }
  }
}

@media screen and(max-width:767px) {
  .card_swiper-pagination {
    transform: translateX(-50%) translateY(95px);
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

// .box__mask {
//   position: fixed;
//   width: 100%;
//   left: 0%;
//   top: 0;
//   background-color: $main-blue;
//   height: 100vh;
//   z-index: 10;
// }
.scroll__two {
  position: absolute;
  bottom: 11.9792vw;
  left: 1.5625vw;
  transform: rotate(90deg);
  //border: 1px solid #000;
  color: $main-blue;
  font-family: "Open Sans";
  font-weight: 700;
  z-index: 3;
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 130px;
    height: 2px;
    background-color: #525252;
    transform: translateX(-110%);
  }
}
