.tab__cco2 {
  width: 86.9791%;
  //1670px
  margin: 0 auto 100px;
  display: flex;
  flex-direction: row-reverse;
  //border: 1px solid #000;
  //關閉按鈕區域
  .close {
    width: 100px;
    height: 100px;
    //border: 1px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
  }
}

.light__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 20;
  height: 100vh;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  .light__wrap {
  }
}

.light__box.on {
  width: 100%;
  //border: 1px solid #0f0;
  overflow-y: scroll;
  opacity: 1;
  height: 100vh;
  border: 1px solid;
  transition: 1s;
  pointer-events: auto;
}

.tab__cco {
  width: 86.9791%;
  //1670px
  margin: 0 auto 100px;
  //border: 1px solid #f00;

  > .tabs {
    display: flex;
    > a {
      width: 33.33333%;
      border: 1px solid #e2e2e2;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: #fff;
      font-size: $dsk2st;
      transition: 0.5s;
      color: #565656;
      @media screen and(max-width:1199px) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
      }
    }
    > .on {
      background-color: #272727;
      color: #fff;
      transition: 0.5s;
    }
  }
}

.slide {
  @media screen and(max-width:1199px) {
    padding-bottom: 120px;
  }
}

.lightbox__area {
  //上半塊區域部分
  width: 100%;
  position: relative;
  height: 0px;
  padding-bottom: 57.2917vw;
  //1100px
  background-color: #fff;
  @media screen and(max-width:1199px) {
    height: auto;
    padding-bottom: 0;
  }
}

// .lightbox__slide {
//   width: 100%;
//   height: 800px;
//   background-color: #f00;
// }

.light__title {
  //上面藍色標題的部分
  //border: 1px solid #000;
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 12.0208vw;
  transform: rotate(90deg);
  @media screen and(max-width:1199px) {
    position: relative;
    top: 0;
  }
  > .main__entitle {
    font-size: $dsk2title;
    text-transform: uppercase;
    color: #5993d9;
    font-weight: 700;
    font-family: "Open Sans";
    letter-spacing: 1.2px;
  }
  > .icon {
    transform: rotate(-90deg);
    margin-left: 50px;
  }
}

.lightbox__txt {
  //border: 1px solid #000;
  //385/1680
  //中間文字敘述區域
  width: 22.9166%;
  position: absolute;
  top: 3.6458vw;
  left: 4.6875vw;
  @media screen and(max-width:1199px) {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: 84.375%;
    //border: 1px solid #000;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @media screen and(max-width:767px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  > .cn__title {
    font-size: $dsk2st;
    font-weight: 700;
    margin-bottom: 25px;
    @media screen and(max-width:1199px) {
      font-size: 18px;
    }
  }
  > .main__entitle {
    font-family: "Open Sans";
    color: #b2823d;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  > .info {
    color: #777;
    opacity: 0.7;
    line-height: 1.6;
    letter-spacing: 1.6px;
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      font-size: 14px;
    }
  }
  > .icon {
    position: absolute;
    top: 40px;
    right: 0;
  }
}

.light__img {
  //圖片主要區域
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 76.6467%;
  //890px
  height: 0;
  transform: translateY(6.7708vw);
  //130px
  z-index: 2;
  padding-bottom: 46.3542vw;
  @media screen and(max-width:1199px) {
    width: 100%;

    position: relative;
    transform: translateY(0);
    padding-bottom: 69.6875vw;
  }
  > .main__img {
    //機器手的圖
    position: absolute;
    //border: 1px solid #f00;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    ///border: 1px solid #000;
    > picture {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  > .sec__img {
    position: absolute;
    width: 43.7536%;
    height: 0;
    //padding-bottom: 415px;
    padding-bottom: 21.6146vw;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translateX(45%) translateY(30%);
    @media screen and(max-width:1199px) {
      transform: translateX(0%) translateY(0%);
    }
    > picture {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.lightbox__slide {
  //下面區域藍色＋輪播
  background-color: #fff;
  .slide__txt {
    //藍色全部面積
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 41.1458vw;
    //790px
    background-color: #0e6ccd;
    @media screen and(max-width:1199px) {
      height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
    @media screen and(max-width:767px) {
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: nowrap;
    }
    > .info {
      position: absolute;
      top: 30%;
      width: 20.8333vw;
      //400px
      left: 5.2083vw;
      //100px
      line-height: 1.6;
      letter-spacing: 1.6px;
      color: #fff;
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        position: relative;
        top: 0;
        left: 0;
        width: 42.1875%;
        font-size: 14px;
        //border: 1px solid #f00;
        order: 1;
      }
      @media screen and(max-width:767px) {
        width: 84.375%;
        margin: 40px auto 0px;
      }
    }
    > .contact__btn {
      //按鈕
      font-size: $dsk1st;
      background-color: transparent;
      border: 1px solid #fff;
      width: 11.9792vw;
      //290px
      height: 4.6875vw;
      //90px
      position: absolute;
      top: 50%;
      left: 5.2083vw;
      //100px
      text-align: center;
      line-height: 4.6875vw;
      color: #fff;
      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: 80px;
        height: 40px;
        border-right: 2px solid #b2823d;
        border-bottom: 2px solid #b2823d;
      }
      @media screen and(max-width:1199px) {
        top: auto;
        left: auto;
        right: 7%;
        bottom: 40px;
        width: 290px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        font-size: 14px;
      }
      @media screen and(max-width:767px) {
        right: 0;
        bottom: 0;
        position: relative;
        width: 84.375%;
        margin: 0 auto 40px;
        order: -1;
      }
    }
    > .list__area {
      //選項區域
      font-size: $dsk1st;
      position: absolute;
      top: 30%;
      left: 45.4792vw;
      color: #fff;
      @media screen and(max-width:1199px) {
        //border: 1px solid #f00;
        position: relative;
        top: 0;
        left: 0;
        width: 42.1875%;
        order: -1;
        //border: 1px solid #000;

        font-size: 14px;
      }
      @media screen and(max-width:767px) {
        width: 84.375%;
        margin: 40px auto 40px;
      }
      > li {
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}

.light_swiper-container {
  //下面slide區域
  margin-top: -100px;
  //1120/1670
  width: 67.0658%;
  //border: 1px solid #000;
  margin-right: 0;
  @media screen and(max-width:1199px) {
    margin-top: 0px;
    width: 100%;
  }
  .slider__info {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 30.9896vw;
    //595px
    @media screen and(max-width:1199px) {
      padding-bottom: 45.9896vw;
    }
    > picture {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.light__btnArea {
  position: absolute;
  top: 0;
  display: flex;
  left: 21.32vw;
  z-index: 5;
  @media screen and(max-width:1199px) {
    left: auto;
    top: auto;
    bottom: 70px;
    right: 0;
  }
  > .light-prev {
    width: 140px;
    //140px
    height: 100px;
    //100px
    background-color: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:1199px) {
      width: 70px;
      height: 50px;
    }
    > svg {
      transform: rotate(180deg);
    }
  }
  > .light-next {
    width: 140px;
    //140px
    height: 100px;
    //100px
    @media screen and(max-width:1199px) {
      width: 70px;
      height: 50px;
    }
    background-color: #b2823d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.light__logo {
  position: absolute;
  left: 0;
  bottom: 0;
  img {
    transform: translateX(100px) translateY(-60px);
    @media screen and(max-width:1199px) {
      transform: scale(0.6) translateX(0px) translateY(-20px);
    }
  }
}
