.list__dsk > .list__link {
  color: #000;
}

.product__img {
  //border: 1px solid #000;
  position: relative;
  width: 20.052%;
  height: 0;
  padding-bottom: 56.7708vw;
  //1090px
  > picture {
    @include img-cover;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.font__product {
  position: absolute;
  width: 97.3958%;
  height: 0;
  padding-bottom: 11.9792vw;
  //230px
  top: 9.375vw;
  left: 0;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product__wrap {
  //最外框
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group__wrap {
  margin-top: 19.2708vw;
  //370px
  margin-right: 6.25vw;
  //120px
  width: 65.625%;
}

.product__group {
  //實際呈現內容
  //border: 1px solid #000;
  .group-container {
    //框框框框
    //border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9.375vw;
    //180px
    > .list__card {
      //一個框
      width: 33.3333%;
      border: 1px solid #ccc;
      position: relative;
      > .card__txt {
        //border: 1px solid #000;
        width: 83.3333%;
        margin: 0 auto 25px;
        position: relative;
        > .title {
          margin-bottom: 10px;
          font-weight: 700;
        }
        > .info {
          color: #777777;
        }
        > .link__btn {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 5px 10px;
          background-color: #0e6ccd;
          color: #fff;
        }
      }
    }
  }
}

.group__title {
  > .en__title {
    display: inline-block;
    width: 210px;
    font-size: $dsk2title;
    border-bottom: 6px solid #0e6ccd;
    padding-bottom: 1.5625vw;
    //30px
    margin-bottom: 2.0833vw;
    //40px
  }
  > .en__info {
    width: 400px;
    font-size: $dsk1st;
    color: #777777;
    letter-spacing: 1.6px;
    line-height: 1.6;
    margin-bottom: 2.6042vw;
    //50px
  }
}
