.main-container {
  position: relative;
  overflow: hidden;
}

.mbl__use {
  @media screen and(max-width:1199px) {
    padding-top: 106.25vw;
  }
}

.newsin__cco {
  //border: 1px solid #000;
  width: 59.375%;
  margin-left: 23.4375vw;
  //450px
  padding-top: 21.3542vw;
  //410px
  padding-bottom: 9.375vw;
  //180px

  @media screen and(max-width:1199px) {
    width: 92.1875%;
    padding-top: 0;
    padding-bottom: 50px;
    //border: 1px solid #f00;
    background-color: #fff;
    margin-left: 0;
    &::after {
      display: block;
      content: "";
      clear: both;
    }
    > .container {
      width: 91.5254%;
      //border: 1px solid #000;
      float: right;
    }
  }

  .data {
    font-size: $dsk2title;
    margin-bottom: 0.7813vw;
    //15px
    font-weight: 700;
    font-family: "Open Sans";
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-top: 70px;
      margin-bottom: 15px;
      position: relative;
      &::before {
        content: "";
        width: 45px;
        height: 6px;
        background-color: $main-blue;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-15px);
      }
    }
  }
  .week {
    width: 210px;
    color: #777777;
    padding-bottom: 1.3021vw;
    border-bottom: 6px solid#0e6ccd;
    //25px
    margin-bottom: 1.5625vw;
    //30px
    @media screen and(max-width:1199px) {
      border-bottom: 0px;
      margin-bottom: 20px;
    }
  }
  .maintitle {
    margin-bottom: 1.5625vw;
    //30px
    font-size: $dsk2st;
    font-weight: 700;
    line-height: 1.6;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      margin-bottom: 20px;
      width: 75%;
    }
  }
  .class {
    color: #777777;
    margin-bottom: 3.125vw;
    //60px
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .img {
    position: relative;
    width: 100%;
    padding-bottom: 32.2917vw;
    //620px
    height: 0;
    @media screen and(max-width:1199px) {
      width: 110%;
      padding-bottom: 54.375vw;
    }
    > picture {
      @include img-cover;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .info {
    margin-top: 4.4271vw;
    //85px
    line-height: 1.6;
    letter-spacing: 1.6px;
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      margin-top: 40px;
      font-size: 14px;
    }
  }
  .list__title {
    margin-top: 2.0833vw;
    //40px
    margin-bottom: 2.0833vw;
    //40px
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      line-height: 1.6;
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
  .txt {
    font-size: $dsk1st;
    line-height: 1.6;
    letter-spacing: 1.6px;
    color: #777;
    margin-bottom: 2.0833vw;
    //40px
    @media screen and(max-width:1199px) {
      font-size: 14px;
      margin-bottom: 35px;
    }
    > b {
      color: #000;
    }
  }
  .back__btn {
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    margin-top: 5.2083vw;
    //100px
    padding: 2.0833vw 4.6875vw;
    border: 1px solid #777777;
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      font-size: 14px;
      padding: 0;
      width: 270px;
      height: 90px;
      text-align: center;
      line-height: 90px;
    }
    @media screen and(max-width:767px) {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 80px;
      height: 40px;
      border-right: 2px solid #b2823d;
      border-bottom: 2px solid #b2823d;
    }
  }
}

.clear {
}
