.list__dsk > .list__link {
  color: #000;
}
.list__dsk > .language > a {
  color: #000;
}
.newsin__imgarea {
  position: relative;
}
.main-container {
  position: relative;
}

.main__img {
  //border: 1px solid #000;
  width: 20.052%;
  position: fixed;
  height: 100vh;
  // padding-bottom: 56.7708vw;
  // //1090px
  top: 0;
  @media screen and(max-width:1199px) {
    top: 60px;
    width: 100%;
    padding-bottom: 175vw;
  }
  > picture {
    @include img-cover;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.font__newsin {
  position: absolute;
  width: 83.0729%;
  height: 0;
  padding-bottom: 9.6354vw;
  //185px
  top: 8.3333vw;
  //160px
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
