// rwd
$bkp-dsk: "min-width: 1024px";
$bkp-mbl: "max-width: 1023.98px";
$bkp-8l: "max-width: 1800px";
$bkp-7l: "max-width: 1700px";
$bkp-6l: "max-width: 1600px";
$bkp-5l: "max-width: 1500px";
$bkp-4l: "max-width: 1400px";
$bkp-3l: "max-width: 1300px";
$bkp-2l: "max-width: 1200px";
$bkp-l: "max-width: 1100px";
$bkp-m: "max-width: 800px";
$bkp-s: "max-width: 600px";

@mixin mq($bkp) {
  @if $bkp == dsk {
    @media ($bkp-dsk) {
      @content;
    }
  } @else if $bkp == mbl {
    @media ($bkp-mbl) {
      @content;
    }
  } @else if $bkp == 8l {
    @media ($bkp-8l) {
      @content;
    }
  } @else if $bkp == 7l {
    @media ($bkp-7l) {
      @content;
    }
  } @else if $bkp == 6l {
    @media ($bkp-6l) {
      @content;
    }
  } @else if $bkp == 5l {
    @media ($bkp-5l) {
      @content;
    }
  } @else if $bkp == 4l {
    @media ($bkp-4l) {
      @content;
    }
  } @else if $bkp == 3l {
    @media ($bkp-3l) {
      @content;
    }
  } @else if $bkp == 2l {
    @media ($bkp-2l) {
      @content;
    }
  } @else if $bkp == l {
    @media ($bkp-l) {
      @content;
    }
  } @else if $bkp == m {
    @media ($bkp-m) {
      @content;
    }
  } @else if $bkp == s {
    @media ($bkp-s) {
      @content;
    }
  }
}

// hover
@mixin hover() {
  @media (hover: hover) {
    @content;
  }
}

// vw vh
@function vw-dsk($px) {
  @return #{$px / $vw-dsk * 100}vw;
}
@function vw-mbl($px) {
  @return #{$px / $vw-mbl * 100}vw;
}
@function vh-dsk($px) {
  @return #{$px / $vh-dsk * 100}vh;
}
@function vh-mbl($px) {
  @return #{$px / $vh-mbl * 100}vh;
}

//font-level
$dsktitle: 4.1667vw;
//80px
$dsk2title: 3.125vw;
//60px
$dsk1st: 0.8333vw;
//16px
$dsk2st: 1.1458vw;
//22px

//flex

@mixin flex-cen {
  display: flex;
  justify-content: center;
}

@mixin flex-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-sp-cen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-st-cen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-st-st {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin pos-set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin base-btn($height, $width, $color) {
  display: inline-block;
  padding-top: $height;
  padding-bottom: $height;
  padding-right: $width;
  padding-left: $width;
  background-color: $color;
}

@mixin equal-set($height) {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: $height;
}

@mixin img-fill {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@mixin img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
