.about__brandinfo {
  //border: 1px solid #000;
  padding-top: 9.8958vw;
  //190px
  padding-bottom: 9.8958vw;
  //190px

  @include flex-cen-cen;
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    padding-top: 3.8958vw;
    position: relative;
    //border: 1px solid #000;
  }
}

.brand__txt {
  //文字區域
  //550px
  width: 28.6458%;
  //border: 1px solid #f00;
  @media screen and(max-width:1199px) {
    width: 82.8125%;

    .brand__title {
      margin-top: 20px;
      //border: 1px solid #000;
    }
  }
}
.brand__title {
  //border: 1px solid #000;
}

.brand__img {
  //650px
  width: 33.8541%;
  //border: 1px solid #0f0;
  position: relative;
  height: 0;
  padding-bottom: 40.625vw;
  //130px;m-l
  margin-left: 6.7708vw;

  //780px
  @media screen and(max-width:1199px) {
    padding-bottom: 109.6875vw;
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 38vw;
    //border: 1px solid #f00;
  }
  @media screen and(max-width:767px) {
    top: 125vw;
    padding-bottom: 168.75vw;
  }
  .brand__top {
    position: absolute;
    width: 60%;
    height: 0;
    padding-bottom: 25.7813vw;
    //495px
    top: 0;
    right: 0;
    //border: 1px solid #000;
    @media screen and(max-width:1199px) {
      width: 47.734375%;
      padding-bottom: 62.96875vw;
    }
    @media screen and(max-width:767px) {
      width: 73.4375%;
      padding-bottom: 96.875vw;
    }
    > .top__pic {
      @include img-cover;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .brand__bottom {
    position: absolute;
    width: 50%;
    height: 0;
    padding-bottom: 11.4583vw;
    bottom: 0;
    left: 0;
    z-index: -1;
    //border: 1px solid #000;
    @media screen and(max-width:1199px) {
      width: 44.6875%;
      padding-bottom: 34.53125vw;
    }
    @media screen and(max-width:767px) {
      width: 68.75%;
      padding-bottom: 53.125vw;
    }
    > .bottom__pic {
      @include img-cover;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .blue__border {
    position: absolute;
    width: 70%;
    height: 0;
    padding-bottom: 27.6042vw;
    //530px
    left: 50%;
    top: 10.1563vw;
    //195px
    transform: translateX(-50%);
    border: 6px solid #0e6ccd;
    @media screen and(max-width:1199px) {
      width: 54.84375%;
      padding-bottom: 69.0625vw;
      top: 22.5vw;
      left: 92%;
      transform: translateX(-100%);
    }
    @media screen and(max-width:767px) {
      width: 84.375%;
      padding-bottom: 106.25vw;
    }
  }
}

.brand__txt {
  > .brand__title {
    > .en__title {
      font-weight: 700;
      font-family: "Open Sans";
      font-size: $dsk2title;
      color: #353535;
      margin-bottom: 2.6042vw;
      //50px
      @media screen and(max-width:1199px) {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }
    > .ch__title {
      font-size: $dsk2st;
      margin-bottom: 1.5625vw;
      //30px
      font-weight: 700;
      @media screen and(max-width:1199px) {
        //border: 1px solid #000;
        font-size: 18px;
        margin-bottom: 40px;
      }
    }
    > .brand__info {
      font-size: $dsk1st;
      //opacity: 0.7;
      color: #777777;
      letter-spacing: 1.6px;
      line-height: 1.6;
      margin-bottom: 5.2083vw;
      //100px
      @media screen and(max-width:1199px) {
        font-size: 14px;
        //border: 1px solid #000;
        margin-bottom: 118.1vw;
      }
      @media screen and(max-width:767px) {
        margin-bottom: 203.125vw;
      }
    }
  }
}
.brand__infoarea {
  > h2 {
    font-size: $dsk2st;
    margin-bottom: 1.5625vw;
    font-weight: 700;
    @media screen and(max-width:1199px) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  .year__list {
    letter-spacing: 1.2px;
    line-height: 1.6;
    margin-bottom: 1.5625vw;
    //30px
    color: #777777;
    @media screen and(max-width:1199px) {
      //border: 1px solid #000;
      margin-bottom: 30px;
    }
    .year__title {
      color: #000;
      opacity: 1;
      font-weight: 700;
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
    .year__info {
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
  }
}
