.about__brandslide {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    padding-bottom: 39.0625vw;
    //750px
    background-color: #eeeeee;
  }
  @media screen and(max-width:1199px) {
    flex-wrap: wrap;
    //border: 1px solid #f00;
    &::before {
      display: none;
    }
  }
}

.abobrand__title {
  //標題部分
  position: absolute;
  top: 7.5521vw;
  //145px
  right: 27.8229vw;
  //515px+2vw
  @media screen and(max-width:1199px) {
    z-index: 2;
    top: 69.5%;
    //border: 1px solid #000;
    width: 85%;
    right: 50%;
    transform: translateX(50%);
  }
  @media screen and(max-width:767px) {
    top: 67.5%;
  }
  > .en__title {
    font-size: $dsk2title;
    margin-bottom: 2.6042vw;
    font-weight: 700;
    font-family: "Open Sans";
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  > .cn__title {
    font-size: $dsk2st;
    font-weight: 700;
    @media screen and(max-width:1199px) {
      font-size: 18px;
    }
  }
}

.top_swiper-container {
  //左邊藍色主要圖片
  width: 43.2291%;
  //830px

  @media screen and(max-width:1199px) {
    //border: 1px solid #000;
    width: 100%;
    padding-bottom: 300px;
    margin-bottom: 180px;
  }
  .top_swiper-slide {
    position: relative;
  }
  .title__area {
    //藍色區域文字區域
    position: absolute;
    bottom: 0;
    right: 0;
    width: 72.509%;
    //605px
    height: 15.625vw;
    //300px
    background-color: #0f6ccd;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and(max-width:1199px) {
      height: 300px;
      width: 100%;
      transform: translateY(100%);
    }
    > h2 {
      font-size: $dsk2st;
      width: 66.1157%;
      margin-bottom: 1.5625vw;
      //30px
      @media screen and(max-width:1199px) {
        width: 85%;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    > p {
      width: 66.1157%;

      color: #fff;
      line-height: 1.6;
      letter-spacing: 1.6px;
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        width: 85%;
        font-size: 14px;
      }
    }
  }

  .top__img {
    //圖片區域有等比
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 54.9479vw;
    //1055px
    > picture {
      @include img-cover;
      transform: scale(1.05);
      > img {
        transform: scale(1.05);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    @media screen and(max-width:1199px) {
      //border: 1px solid #f00;
      //405.769px
      padding-bottom: 126.5625vw;
    }
  }
}
.top_swiper-container {
  .swiper-slide-active {
    .top__img {
      > picture {
        transform: initial;
        transition: 10s;
        > img {
          transform: initial;
          transition: 10s;
        }
      }
    }
  }
}

.thumbs_swiper-container {
  width: 57.2916%;
  //1100px
  transform: translateY(5.2083vw) translateX(10.9375vw);
  //100px 210px
  @media screen and(max-width:1199px) {
    // margin-top: 180px;
    width: 85%;
    //border: 1px solid #f00;
    transform: translateY(0) translateX(0);
  }
  .swiper-slide {
    @media screen and(max-width:1199px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .swiper-slide-active {
    display: none;
  }
  .win__img {
    //border: 1px solid #000;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 14.3229vw;
    //275px
    @media screen and(max-width:1199px) {
      //border: 1px solid #0f0;
      padding-bottom: 46.875vw;
    }

    > picture {
      @include img-cover;
      > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }
  .win__txt {
    //右邊輪播區域
    @media screen and(max-width:1199px) {
      margin-top: 20px;
    }
    > .index {
      font-size: $dsk2st;
      color: #0e6ccd;
      font-weight: 700;
      margin-bottom: 2.0833vw;
      //40px
      font-family: "Open Sans";
      @media screen and(max-width:1199px) {
        font-size: 26px;
        margin-bottom: 15px;
      }
    }
    > .win__class {
      font-weight: 300;
      margin-bottom: 1.5625vw;
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        font-size: 18px;
      }
    }
  }
}

.brands__btns {
  position: absolute;
  bottom: 3.125vw;
  z-index: 2;
  left: 54.1666%;
  @media screen and(max-width:1199px) {
    left: 81.5%;
  }
  @media screen and(max-width:767px) {
    left: 66%;
  }
}
