.about__his {
  position: relative;
  width: 100%;
  //border: 1px solid #000;
  height: 0;
  padding-bottom: 38.0208vw;
  //730px
  overflow: hidden;
  @media screen and(max-width:1199px) {
    padding-bottom: 150.5vw;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 162.5vw;
  }
  > .his__font {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-5.2083vw);
  }
  > .his_swiper-container {
    position: relative;
    width: 70.83333%;
    right: -24vw;
    //-120px
    //border: 1px solid #000;
    @media screen and(max-width:1199px) {
      //border: 1px solid #000;
      position: relative;
      right: 0;
      transform: translateY(19%);
      width: 84.375%;
    }
    @media screen and(max-width:767px) {
      transform: translateY(25%);
    }
    .swiper-slide-active {
      //啟動狀態
      .info__imgarea {
        opacity: 1;
        transform: initial;
        transition: 2s;
      }
      .info__txt {
        > .data {
          color: #fff;
          transition: 1s;
        }
        > .info {
          color: #fff;
          transition: 1s;
        }
      }
    }
  }
}
.his__titlearea {
  position: absolute;
  top: 6.5104vw;
  //125px
  left: 11.9792vw;
  //230px
  @media screen and(max-width:1199px) {
    top: 7.5104vw;
    //125px
    left: 7.9792vw;
    //230px
  }
  @media screen and(max-width:767px) {
    top: 0.5104vw;
  }

  > .en__title {
    font-size: $dsk2title;
    margin-bottom: 1.5625vw;
    //30px
    font-weight: 700;
    font-family: "Open Sans";
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  > .ch__title {
    font-size: $dsk2st;
    @media screen and(max-width:1199px) {
      font-size: 16px;
    }
  }
}
.slider__info {
  //圖片顯示最外面區域
  position: relative;
  .info__txt {
    position: absolute;
    z-index: 2;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 63.988%;
    @media screen and(max-width:1199px) {
      top: 50%;
    }
    > .data {
      font-size: $dsk2title;
      margin-bottom: 4.1667vw;
      position: relative;
      font-weight: 900;
      font-family: "Open Sans";
      transition: 1s;
      @media screen and(max-width:1199px) {
        font-size: 28px;
        margin-bottom: 60px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 6px;
        background-color: #0e6ccd;
        bottom: 0;
        left: 0;
        transform: translateY(1.5625vw);
        //30px
        @media screen and(max-width:1199px) {
          transform: translateY(30px);
        }
      }
      //80px
    }
    > .info {
      color: #777777;
      opacity: 0.7;
      line-height: 1.6;
      letter-spacing: 1.6px;
      font-size: $dsk1st;
      transition: 1s;
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
  }
}

.info__imgarea {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 24.4792vw;
  //470px
  opacity: 0;
  transform: scale(1.05);
  @media screen and(max-width:1199px) {
    padding-bottom: 118.75vw;
  }
  @media screen and(max-width:767px) {
  }
  > picture {
    @include img-cover;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.his__btns {
  position: absolute;
  bottom: 11.9792vw;
  //230px
  left: 11.9792vw;
  @media screen and(max-width:1199px) {
    bottom: auto;
    left: auto;
    right: 7.5%;
    top: 6%;
  }
  @media screen and(max-width:767px) {
    top: 1.5%;
    right: 8%;
  }
}
