.about__msg {
  width: 100%;
  overflow: hidden;
  @media screen and(max-width:1199px) {
    padding-top: 60px;
  }
}
.msg__imgarea {
  //圖片全部顯示區域
  width: 100%;
  //border: 1px solid #000;
  position: relative;
  height: 0;
  padding-bottom: 48.9583vw;
  //940px
  z-index: 3;
  @media screen and(max-width:1199px) {
    padding-bottom: 890px;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 135vw;
  }
  > .modus__fontimg {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(3.5vw);
  }
}
.about__msk {
  position: absolute;
  top: 8.3333vw;
  z-index: 5;
  //border: 1px solid #f00;
  width: 69.2708%;
  height: 0;
  padding-bottom: 36.4168vw;
  background-color: rgba($color: #fff, $alpha: 1);

  @media screen and(max-width:1199px) {
    top: 0px;
    width: 100%;
    padding-bottom: 760px;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 380px;
  }
}
.mask__pic {
  position: absolute;
  top: 8.3333vw;
  //border: 1px solid #000;
  width: 69.2708%;
  height: 0;
  left: 0;
  padding-bottom: 35.4167vw;
  //680px
  z-index: 4;
  background-color: #fff;
  border: 1px solid #f00;
}

.about__mainimg {
  position: absolute;
  top: 8.3333vw;
  z-index: 2;
  //border: 1px solid #000;
  width: 69.2708%;
  //width: 74.2708%;
  height: 0;
  // transform: translateX(-1000px);
  padding-bottom: 35.4167vw;
  //680px
  left: -1000px;
  > picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    //border: 1px solid #f00;
    > img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  @media screen and(max-width:1199px) {
    // transform: translateX(-1000px);
    top: 0px;
    width: 100%;
    left: 0%;
    padding-bottom: 760px;
  }
  @media screen and(max-width:767px) {
    padding-bottom: 380px;
  }
}
// .blue__blue {
//   position: absolute;
//   width: 65.3645%;
//   height: 0;
//   top: 0;
//   left: 34.6355%;
//   padding-bottom: 35.4167vw;
//   background-color: #0e6ccd;
//   border: 1px solid #f00;
//   z-index: 3;
// }
.blue__box {
  position: absolute;
  //width: 65.3645%;
  width: 0%;
  height: 0;
  top: 0;
  right: 0;
  padding-bottom: 35.4167vw;
  background-color: #0e6ccd;
  //680px

  @media screen and(max-width:1199px) {
    left: auto;
    right: 0;
    width: 92.1875%;
    height: 160px;
    padding-bottom: 0;
    top: auto;
    bottom: 0;
    z-index: 2;
    transition: 1s;
  }
  &.aniMbl {
    @media screen and(max-width:1199px) {
      opacity: 0;
      transition: 1s;
    }
  }
}

.img__title {
  position: absolute;
  top: 17.1875vw;
  //330px
  right: 15.625vw;
  //300px
  color: #fff;
  z-index: 5;
  transform: translateY(30);
  //border: 1px solid #f00;
  @media screen and(max-width:1199px) {
    top: 90%;
    transform: translateY(-50%);
  }
  @media screen and(max-width:767px) {
    top: 80%;
  }
  > .en__title {
    font-size: $dsktitle;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 1.8229vw;
    //35px
    @media screen and(max-width:1199px) {
      font-size: 32px;
      margin-bottom: 18px;
    }
  }
  > .cn__title {
    font-size: $dsk2st;
    text-align: right;
    @media screen and(max-width:1199px) {
      font-size: 18px;
    }
  }
}

.msg__txt {
  //border: 1px solid #000;
  width: 57.2916%;
  //1095px
  margin-left: 12.2396vw;
  //235px
  margin-bottom: 6.7708vw;
  //130px
  @media screen and(max-width:1199px) {
    width: 82.8125%;
    margin: 0 auto;
  }
  > .msg__title {
    font-size: $dsk2title;
    margin-bottom: 1.5625vw;
    //30px
    font-weight: 700;
    font-family: "Open Sans";
    @media screen and(max-width:1199px) {
      font-size: 28px;
      margin-top: 50px;
      margin-bottom: 70px;
      position: relative;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 50px;
        height: 6px;
        background-color: $main-blue;
        transform: translateY(35px);
      }
    }
  }
  > .msg__info {
    display: flex;
    margin-bottom: 2.6042vw;
    //border: 1px solid #000;
    //50px
    @include last(1) {
      @media screen and(max-width:1199px) {
        position: relative;
        &:after {
          position: absolute;
          bottom: 0;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #ccc;
          transform: translateY(40px);
        }
      }
    }
    @media screen and(max-width:1199px) {
      flex-wrap: wrap;
      margin-bottom: 70px;
    }
    > h3 {
      width: 41.0958%;
      //border: 1px solid #f00;
      font-size: $dsk2st;
      font-weight: 700;
      @media screen and(max-width:1199px) {
        width: 100%;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    > .info__txt {
      //border: 1px solid #0f0;
      width: 58.9042%;
      color: #777777;
      //opacity: 0.7;
      letter-spacing: 1.6px;
      line-height: 1.6;
      font-size: $dsk1st;
      @media screen and(max-width:1199px) {
        width: 100%;
        font-size: 14px;
      }
    }
  }
}

.webp .about__mainimg {
  //border: 1px solid #f00;
  background-image: url("../img/about/about-msg.webp");
  background-repeat: no-repeat;
  background-size: 110%, 100%;
  background-position: 5vw 0px;
  @media screen and(max-width:1199px) {
    background-size: cover;
    background-image: url("../img/about/about-msg-m.webp");
  }
}

.no-webp .about__mainimg {
  background-image: url("../img/about/about-msg.jpg");
  background-repeat: no-repeat;
  background-size: 110%, 100%;
  background-position: 10vw 0px;

  @media screen and(max-width:1199px) {
    background-image: url("../img/about/about-msg-m.jpg");
    background-size: cover;
  }
}
