.common-footer {
  background-color: #272727;
  padding-top: 5.7292vw;
  //110px
  padding-bottom: 4.1667vw;
  //80px
  position: relative;
  @media screen and(max-width:1199px) {
    padding-top: 65px;
    padding-bottom: 60px;
  }

  > .container {
    @include flex-sp-cen;
    align-items: flex-start;
    color: #fff;
    width: 77.0833vw;
    //1480px

    margin: 0 auto;
    flex-wrap: wrap;
  }
}
.company__infoarea {
  display: flex;
  flex-wrap: wrap;
  @media screen and(max-width:1199px) {
    width: 100%;
  }
  > .company__title {
    //墨達斯股份有限公司區域
    letter-spacing: 5.76px;
    line-height: 1.6;
    @media screen and(max-width:1199px) {
      margin-bottom: 55px;
    }
  }
  > .company__info {
    margin-left: 4.4271vw;
    //85px
    font-size: 0.7292vw;
    //14px
    color: #919191;
    letter-spacing: 1.6px;
    @media screen and(max-width:1199px) {
      width: 100%;
      margin-left: 0;
      font-size: 14px;
    }
    > .set-b {
      margin-bottom: 15px;
      @media screen and(max-width:1199px) {
        display: flex;
      }

      > .title {
        display: inline-block;
        margin-right: 15px;
        color: #fff;
        @media screen and(max-width:1199px) {
          width: 5%;
        }
      }
      > .info {
        //內容區域
        @media screen and(max-width:1199px) {
          line-height: 1.6;
        }
      }
    }
  }
}

.company__container {
  padding-bottom: 6.25vw;
  border-bottom: 1px solid#0e6ccd;
  //120px
  @media screen and(max-width:1199px) {
    padding-bottom: 25px;
  }
}

.footer__linkarea {
  > .footer__link {
    margin-left: 4.4271vw;
    //85px
    font-size: 12px;
  }
}

.copy__container {
  //45px
  padding-top: 45px;
}

.copy__area {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #5e5e5e;
  line-height: 1.6;
  > .comosbtn {
    margin-left: 16px;
  }
  @media screen and(max-width:1199px) {
    flex-direction: column;
    align-items: flex-start;
    > .comosbtn {
      margin-left: 0px;
    }
  }
}
.social__media {
  a {
    display: inline-block;
  }
  .ig__icon {
    margin-right: 35px;
  }
}

.upTop {
  top: 0;
  position: absolute;
  //回到首頁
  //border: 1px solid #f00;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  transform: translateY(-50%);
  right: 4.6875vw;
  //90px
  @media screen and(max-width:1199px) {
    transform: translateY(-210%);
  }
  .upLine {
    width: 2px;
    height: 130px;
    background-color: #525252;
    @media screen and(max-width:1199px) {
      height: 30px;
    }
  }
  .txt {
    color: $main-blue;
    transform: rotate(90deg);
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1.6;
    font-family: "Open Sans";
  }
}
