.main-container {
  position: relative;
}

html.active {
  body {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.common-header {
  //border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding-top: 3.3854vw;
  //65px
  @include flex-sp-cen;
  @media screen and(max-width:1199px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main__logo {
  margin-left: 3.3854vw;
  //65px
  //border: 1px solid #f00;
  @media screen and(max-width:1199px) {
    margin-left: 25px;
    width: 90px;
    height: 20px;
    position: relative;
    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      > img {
        @include img-fill;
      }
    }
  }
}

.list__dsk {
  margin-right: 3.3854vw;
  //65px
  @include flex-cen-cen;

  > .list__link {
    display: inline-block;
    margin-right: 4.1667vw;
    color: #fff;
    //80px
    letter-spacing: 1.6px;
    &.active {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: 0;
        transform: translateY(15px);
      }
    }
  }

  > .language {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #c6c6c6;
      left: 55%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    > a {
      display: inline-block;
      margin-left: 0.7813vw;
      margin-right: 0.7813vw;
      color: #fff;
      //15px
      opacity: 0.7;
      &:active {
      }
    }
    .active {
      opacity: 1;
    }
  }
}

//按鈕區域
.menu__btnopen {
  position: fixed;
  //top: 50%;
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  //border: 1px solid #f00;
  .btnline {
    width: 20px;
    height: 2px;
    background-color: #191919;
  }
}

.layout__list {
  //選單打開區域
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #303030;
  transform: translateX(-100%);
  transition: 1s;
  z-index: 100;
  .list__container {
    width: 84.375%;
    //border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85.228vh;
    @media screen and(max-width:767px) {
      top: 45%;
      height: 75.228vh;
    }
  }
}

.layout__list.active {
  transform: translateX(0%);
  transition: 1s;
}

.logo__area {
  //選單關閉按鈕區域
  border-bottom: 1px solid #575757;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  .menu__btnclose {
    //按鈕
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .line {
      width: 20px;
      height: 2px;
      background-color: #fff;
    }
    .line-a {
      transform: rotate(45deg);
    }
    .line-b {
      transform: translateY(-2px) rotate(-45deg);
    }
  }
}

.list__mbl {
  height: 80%;
  //border: 1px solid #f00;
  margin-top: 40px;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  > a {
    margin-bottom: 50px;
  }
  .language {
    position: absolute;
    bottom: 20px;
    > .ch__btn {
      margin-right: 30px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #fff;
        transform: translateX(15px);
      }
    }
  }
  @media screen and(max-width:767px) {
    height: 70%;
  }
}

.copy__mblarea {
  //copy區域
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $main-blue;
  padding-top: 25px;
  @include flex-sp-cen;

  .social__media {
    > a {
      > i {
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

.full__loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: $main-blue;
  opacity: 1;
  transition: 1.5s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  color: #fff;
  font-size: 30px;
  font-family: "Open Sans";
  margin-bottom: 35px;
}

.ch__btn {
  opacity: 0.7;
  &.active {
    opacity: 1;
  }
}

.en__btn {
  opacity: 0.7;
  &.active {
    opacity: 1;
  }
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans";
}

.slider {
  position: absolute;
  width: 200px;
  height: 2px;
  margin-top: -30px;
  bottom: 0;
}

.line {
  position: absolute;
  background: $main-blue;
  width: 200px;
  height: 2px;
  bottom: 0;
}

.break {
  position: absolute;
  background: #fff;
  width: 6px;
  height: 2px;
  bottom: 0;
}

.dot1 {
  animation: loading 2s infinite;
}

.dot2 {
  animation: loading 2s 0.5s infinite;
}

.dot3 {
  animation: loading 2s 1s infinite;
}

.logo {
  display: inline-block;
  margin-bottom: 35px;
}

@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 400px;
  }
}
