@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
@import "about/msg";
@import "about/his";
@import "about/brandslide";
@import "about/brandinfo";

.about__brandinfo {
}
.ab__an1,
.ab__an2 {
  display: flex;
}
.ab__an2 {
  justify-content: flex-end;
}
