@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
.mainContainer {
  width: 100%;
  height: 100%;
}
.index__sewrap {
  // 最外框區域
  width: 92%;
  position: relative;
  right: -8%;
  top: 0;
  background-color: #f5f5f5;

  @media screen and(max-width:1024px) {
    width: 100%;
    position: relative;
    right: 0%;
    padding-top: 6.5%;
  }
  @media screen and(max-width:767px) {
    padding-top: 18%;
  }
}
//base=====基本大小
// .pro__se1 {
//   position: relative;
//   height: 0;
//   padding-bottom: 61%;
//   overflow: hidden;
//   @media screen and(max-width:1024px) {
//     padding-bottom: 110%;
//   }
//   @media screen and(max-width:767px) {
//     padding-bottom: 150%;
//   }
// }

.prev {
  display: inline-block;
  padding: 15px;
  position: relative;
  // border: 1px solid #000;
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    border: 15px solid transparent;
    border-left: 15px solid #f00;
    transform: translate(-50%, -50%);
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    border: 15px solid transparent;
    border-left: 15px solid #fff;
    transform: translate(-50%, -50%);
  }
}

picture {
  display: inline-block;
  width: 960px;
  height: 800px;
  border: 1px solid #000;
}
source {
  width: 100%;
  height: 100%;
}
