@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/reset";
@import "base/font";
@import "base/functional";
@import "layout/header";
@import "layout/footer";
@import "plugins/swiper";
@import "plugins/sweetalter2";
@import "components/vue-components";

///slide 按鈕區域
.btns-set {
  width: 120px;
  height: 40px;
  //border: 1px solid #000;
  @media screen and(max-width:1199px) {
    width: 80px;
    height: 30px;
  }
  &:after {
    content: "";
    width: 2px;
    height: 110%;
    background-color: #c6c6c6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
  > .btn-prev {
    position: absolute;
    width: 20px;
    height: 100%;
    //border: 1px solid #000;
    left: 0;
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      width: 25px;
      height: 25px;
      left: 60%;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-45deg) translateY(-50%);
      @media screen and(max-width:1199px) {
        width: 20px;
        height: 20px;
      }
    }
  }
  .btn-next {
    position: absolute;
    width: 20px;
    height: 100%;
    //border: 1px solid #000;
    right: 0%;
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      width: 25px;
      height: 25px;
      right: -30%;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(-45deg) translateY(-50%);
      @media screen and(max-width:1199px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
