@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
@import "index/index";
@import "index/case";
@import "index/award";
@import "index/light";
.type__x {
  transform: translateX(60px) rotateY(180deg);
  transition: 0.5s;
  opacity: 0;
}
.type__x.flip {
  transform: initial;
  transition-delay: 1s;
  transition: 0.5s;
  opacity: 1;
}
.ani__begin {
  position: absolute;
  width: 100%;
  z-index: 5;
  height: 100vh;
  right: 0;
  //border: 5px solid #f00;
  top: 0%;
  overflow: hidden;
  > picture {
    @include img-cover;
    transform: scale(1.2);
    > img {
      transform: scale(1.2);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
