@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/family";
@import "pro/pro";

.type__x {
  transform: translateX(60px) rotateY(180deg);
  transition: 0.5s;
  opacity: 0;
}
.type__x.flip {
  transform: initial;
  transition-delay: 1s;
  transition: 0.5s;
  opacity: 1;
}
