// google fonts
//@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Noto+Sans+TC:300,400,500&display=swap&subset=chinese-traditional");

//@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

//@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

@font-face {
  font-family: "Microsoft JhengHei";
  src: local("Microsoft JhengHei"), url("../font/Microsoft-JhengHei.ttf");
}

body {
  font-family: $ff-sans-serif;
}
