// utility
.dsk {
  @include mq(mbl) {
    display: none !important;
  }
}

.mbl {
  @include mq(dsk) {
    display: none !important;
  }
}

.d-n {
  display: none !important;
}

.pev-none {
  pointer-events: none;
}

[v-cloak] {
  display: none !important;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-enter-to,
.v-leave {
  opacity: 1;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s;
}

// font------------------------------------------------
.ff-serif {
  font-family: $ff-serif;
}

.ff-sans-serif {
  font-family: $ff-sans-serif;
}

.ff-no-sa {
  font-family: "Noto Sans TC";
}

.ff-mm {
  font-family: "Microsoft JhengHei";
}
.ff-mon {
  font-family: "Montserrat", sans-serif;
}
.ff-ro {
  font-family: "Roboto", sans-serif;
}

//font-color
.ff-0a {
  color: #0a283c;
}

// font-size
@for $i from 0 through 50 {
  .fz-#{12 + $i * 2} {
    font-size: #{(12 + $i * 2) / 16}rem;
    &-vw {
      // font-size: #{(12 + $i * 2) / $vw-dsk * 100}vw;
      font-size: calc(12px + #{$i * 2 / $vw-dsk * 100}vw);
    }

    &-vh {
      font-size: calc(12px + #{$i * 2 / $vh-dsk * 100}vh);
    }
  }
}

@include mq(mbl) {
  @for $i from 0 through 50 {
    .fz-mbl-#{12 + $i * 2} {
      font-size: #{(12 + $i * 2) / 16}rem;
      &-vw {
        font-size: #{(12 + $i * 2) / $vw-mbl * 100}vw;
      }

      &-vh {
        font-size: #{(12 + $i * 2) / $vh-mbl * 100}vh;
      }
    }
  }
}

// font-weight
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

// white-space
.ws-nowrap {
  white-space: nowrap;
}

// text-align
.ta-justify {
  text-align: justify;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

// line-height
@for $i from 0 through 9 {
  .lh-0#{$i} {
    line-height: $i / 10;
  }
}
@for $i from 10 through 20 {
  .lh-#{$i} {
    line-height: $i / 10;
  }
}

@include mq(mbl) {
  @for $i from 0 through 9 {
    .lh-mbl-0#{$i} {
      line-height: $i / 10;
    }
  }
  @for $i from 10 through 20 {
    .lh-mbl-#{$i} {
      line-height: $i / 10;
    }
  }
}

// letter-spacing
@for $i from 0 through 1 {
  .ls-0#{$i * 5} {
    letter-spacing: #{$i * 5 / 10}px;
  }
}
@for $i from 2 through 10 {
  .ls-#{$i * 5} {
    letter-spacing: #{$i * 5 / 10}px;
  }

  .ls-#{$i * 5}-vw {
    letter-spacing: #{$i * 5 / 10 / $vw-dsk * 100}vw;
  }
}

@include mq(mbl) {
  @for $i from 0 through 1 {
    .ls-mbl-0#{$i * 5} {
      letter-spacing: #{$i * 5 / 10}px;
    }
  }
  @for $i from 2 through 10 {
    .ls-mbl-#{$i * 5} {
      letter-spacing: #{$i * 5 / 10}px;
    }

    .ls-mbl-#{$i * 5}-vw {
      letter-spacing: #{$i * 5 / 10 / $vw-mbl * 100}vw;
    }
  }
}
// ------------------------------------------------font

// color
@each $name, $color in $colors {
  .c-#{$name} {
    color: $color;
  }
  .bc-#{$name} {
    background-color: $color;
  }
}

@include mq(mbl) {
  @each $name, $color in $colors {
    .c-mbl-#{$name} {
      color: $color;
    }
    .bc-mbl-#{$name} {
      background-color: $color;
    }
  }
}

// animation
.fail-ani {
  // animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: shake 0.8s;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(1px, 0, 0);
  }
}
