<header id="commonHeader" class="common-header">
  <!-- 選單全部區域 -->
  <h1 class="main__logo">
    <a href="index.php">
      <img src="html/img/layout/LOGO.png" alt="" class="">
      <!-- <img src="html/img/layout/LOGO.png" alt="" class="mbl"> -->
    </a>
  </h1>
  <nav class="list__dsk dsk">
    <a id="about" class="list__link" href="about.php">關於我們</a>
    <a id="product-slide" class="list__link" href="product-slide.php">產業應用</a>
    <a id="news" class="list__link" href="news.php">最新消息</a>
    <a id="contact" class="list__link" href="contact.php">聯絡我們</a>
    <div class="language">
      <a class="active" href="javascripts:;">繁中</a>
      <a class="" href="javascripts:;">EN</a>
    </div>
  </nav>
  <div class="menu__btnopen mbl">
    <div class="btnline"></div>
    <div class="btnline"></div>
    <div class="btnline"></div>
  </div>
  <!-- 選單打開區域 -->
  <div class="layout__list mbl">
    <div class="list__container">
      <div class="logo__area ">
        <a class="logo" href="index.php">
          <img src="html/img/layout/LOGO-close.png" alt="">
        </a>
        <div class="menu__btnclose">
          <div class="line line-a"></div>
          <div class="line line-b"></div>
        </div>
      </div>
      <nav class="list__mbl mbl">
        <a id="about" class="list__link" href="about.php">關於我們</a>
        <a id="product-slide" class="list__link"
           href="product-slide.php">產業應用</a>
        <a id="news" class="list__link" href="news.php">最新消息</a>
        <a id="contact" class="list__link" href="contact.php">聯絡我們</a>
        <div class="language">
          <a class="ch__btn active" href="javascripts:;">繁中</a>
          <a class="en__btn" href="javascripts:;">EN</a>
        </div>
      </nav>
      <div class="copy__mblarea">
        <div class="copy__area">
          <p class="copyright">
            &copy;2019&ensp;MODUS.
          </p>
          <div class="comosbtn">
            Designed&ensp;by<a href="https://www.cosmo-br.com/"
               class="cosmo">&ensp;COSMO.</a>
          </div>
        </div>
        <div class="social__media">
          <a class="ig__icon" :href="commonData.footer.iglink">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="fb__icon" :href="commonData.footer.fblink">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="full__loading">
  <div class="loading-page">
    <img class="logo" src="html/img/layout/LOGO.png" alt="">
    <p class="loading">Loading...</p>
    <div class="slider">
      <div class="line"></div>
      <div class="break dot1"></div>
      <div class="break dot2"></div>
      <div class="break dot3"></div>
    </div>
  </div>
</div>