<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- google console -->
<meta name="google-site-verification"
      content="6WiEVw3UheJUy1dUB7V9iuYAVlMGcIdSuFLzxXvk_wk" />
<title>modus</title>


<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css' />
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="html/images/favicon.png" />

<!-- common -->
<link rel="stylesheet" href="html/css/common.css" />

<!-- =============================================== -->
<!-- <link rel=“canonical” href=“{指定的標準連結}" /> -->
<!-- <meta name="robots" content="noindex"> -->
<meta name="keywords" content="{web_keywords}" />
<meta name="description" content="{web_description}" /> {headjs}
{default-headjs}

<script>
      const commonData = {
            "footer": {
                  "add": "苗栗縣苑裡鎮房裡里南房10-2號",
                  "tel": "886-37-865798",
                  "telhref": "tel:+886-37-865798",
                  "fax": "886-37-865198",
                  "mailtxt": " sales@modusnakano.com 歡迎來信聯絡",
                  "mainhref": "mailto:sales@modusnakano.com",
                  "iglink": "",
                  "fblink": ""
            }

      };
</script>