<footer id="commonFooter" class="common-footer">
  <div class="container company__container">
    <div class="company__infoarea">
      <h2 class="company__title">
        墨達思精密工業<br>股份有限公司
      </h2>
      <div class="company__info set-b">
        <address class="add set-b">
          <span class="title">A</span>
          <span class="info">
            <% commonData.footer.add %>
          </span>
        </address>
        <div class="tel set-b">
          <span class="title">T</span>
          <a class="info" :href="commonData.footer.telhref">
            <% commonData.footer.tel %>
          </a>
        </div>
        <div class="fax set-b">
          <span class="title">F</span>
          <span class="info">
            <% commonData.footer.fax %>
          </span>
        </div>
        <address class="mail set-b">
          <span class="title">M</span>
          <a class="info" :href="commonData.footer.mailhref">
            <% commonData.footer.mailtxt %>
          </a>
        </address>
      </div>
    </div>
    <div class="nav__link dsk">
      <nav class="footer__linkarea">
        <a class="footer__link" href="about.php">關於我們</a>
        <a class="footer__link" href="product-slide.php">產業應用</a>
        <a class="footer__link" href="news.php">最新消息</a>
        <a class="footer__link" href="contact.php">聯絡我們</a>
      </nav>
    </div>
  </div>
  <div class="container copy__container">
    <div class="copy__area">
      <p class="copyright">
        &copy;2019&ensp;MODUS.
      </p>
      <div class="comosbtn">
        Designed&ensp;by<a href="https://www.cosmo-br.com/"
           class="cosmo">&ensp;COSMO.</a>
      </div>
    </div>
    <div class="social__media">
      <a class="ig__icon" :href="commonData.footer.iglink">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="fb__icon" :href="commonData.footer.fblink">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
  <div class="upTop" id="upTop">
    <div class="upLine"></div>
    <div class="txt">TOP</div>
  </div>
</footer>