<!-- lazySizesConfig -->
<script>
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.init = false;
</script>
<!-- common -->
<script src="html/js/vender.min.js"></script>
<script src="html/js/common.min.js"></script>
<script src="html/js/layout.min.js"></script>
<script src="html/src/js/plugins/modernizr-custom.js"></script>


{default-footerjs} {footerjs}