<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/contact.css" />

  <script>
    const pageData = {
      "company": {
        "add": "苗栗縣苑裡鎮房裡里南房10-2號",
        "mail": "sales@modusnakano.com",
        "tel": "886-37-865798",
        "fax": "886-37-865198"
      },
      "check": "html/img/contact/num.jpg"
    }
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <div class="contact__wrap">
      <div class="contact__img">
        <picture>
          <!-- 桌機web -->
          <source type="image/webp" srcset="html/img/contact/contact-img.webp">
          <!-- media="(max-width:1200px)" -->
          <!-- 桌機一般 -->
          <img src="html/img/contact/contact-img.jpg" alt="" class="">
          <!-- 手機web -->
          <!-- <source type="image/png" :srcset="pageData.webm"
                media="(min-width:1200px)"> -->
          <!-- 手機一般 -->
          <!-- <img src="" alt="" class="mbl"> -->
        </picture>
      </div>
      <div class="font__contact dsk">
        <img src="html/img/contact/Contact_Us.png" alt="">
      </div>
      <div class="group__wrap">
        <div class="container">
          <section class="info__totalarea">
            <h2 class="title">
              CONTACT<br>INFORMATION
            </h2>
            <div class="warp">
              <h3 class="info__txt">
                墨達思精密工業<br>股份有限公司
              </h3>
              <div class="info__area">
                <div class="item">
                  <h3>公司住址</h3>
                  <p><% pageData.company.add %></p>
                </div>
                <div class="item">
                  <h3>電話</h3>
                  <p><% pageData.company.tel %></p>
                </div>
                <div class="item">
                  <h3>聯絡信箱</h3>
                  <p><% pageData.company.mail %></p>
                </div>
                <div class="item">
                  <h3>傳真</h3>
                  <p><% pageData.company.fax %></p>
                </div>
              </div>
            </div>
          </section>
          <section class="info__from">
            <h2 class="title">CONTACT<br>FROM</h2>
            <div class="from__wrap warp">
              <h3 class="info__txt from__infoset">
                聯絡我們
              </h3>
              <form id="register_form" role="form" data-toggle="validator">
                <div class="form-group">
                  <label for="companyName">公司名稱</label>
                  <input id="companyName" name="companyName" type="text"
                         class="form-control userName" required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group">
                  <label for="tel">電話</label>
                  <input id="tel" name="tel" type="text" class="form-control"
                         required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group">
                  <label for="name">聯絡人姓名</label>
                  <input id="name" name="name" type="text"
                         class="form-control userName" required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group">
                  <label for="fax">傳真</label>
                  <input id="fax" name="fax" type="text" class="form-control"
                         required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group">
                  <label for="department">聯絡人單位</label>
                  <input id="department" name="department" type="text"
                         class="form-control" required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group">
                  <label for="email">信箱</label>
                  <input id="email" name="email" class="form-control"
                         type="email" data-error="郵件格式錯誤。" required="required">
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group form-group2 textArea">
                  <label for="content">主旨內容</label>
                  <textarea id="content" name="content" type="text"
                            class="form-control" required="required"
                            maxlength='200'></textarea>
                  <div class="help-block with-errors error__show"></div>
                </div>
                <div class="form-group check">
                  <label for="captchaNum">驗證碼</label>
                  <input id="captchaNum" name="captchaNum" type="text"
                         class="form-control" required="required">
                  <img :src="pageData.check" alt="" class="check__img">
                  <div class="help-block with-errors error__show"></div>
                </div>

                <button type="submit" value="送出表單"
                        class="btn fromBtn submit__btn">
                  <!-- 送出表單 -->
                  <span>
                    <img src="" alt="">
                  </span>
                  <span>確 認 送 出</span>
                </button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
  <script src="html/js/contact.min.js"></script>


</body>

</html>