<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/news.css" />

  <script>
    const pageData = {
      "newsimg": {
        "jpg": "html/img/news/main-new.jpg",
        "webp": "html/img/news/main-new.webp",
        "alt": "",
        "mbljpg": "html/img/news/main-new-m.jpg",
        "mblwebp": "html/img/news/main-new-m.webp"
      },
      "tab": [
        {
          "tabtitle": "文章總覽",
          "date": "2019.09.05",
          "week": "THU",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "class": "最新消息",
          "link": "news-in.php",
          "jpg": "html/img/news/nws-tab.jpg",
          "webp": "html/img/news/nws-tab.webp",
          "alt": ""
        },
        {
          "tabtitle": "最新消息",
          "date": "2019.09.05",
          "week": "THU",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "class": "最新消息",
          "link": "news-in.php",
          "jpg": "html/img/news/nws-tab.jpg",
          "webp": "html/img/news/nws-tab.webp",
          "alt": ""
        },
        {
          "tabtitle": "媒體報導",
          "date": "2019.09.05",
          "week": "THU",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "class": "最新消息",
          "link": "news-in.php",
          "jpg": "html/img/news/nws-tab.jpg",
          "webp": "html/img/news/nws-tab.webp",
          "alt": ""
        }
      ],
      "list": [
        {
          "data": "2019.09.01",
          "class": "媒體報導",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "link": "news-in.php",
        },
        {
          "data": "2019.09.01",
          "class": "最新消息",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "link": "news-in.php",
        },
        {
          "data": "2019.09.01",
          "class": "最新消息",
          "info": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
          "link": "news-in.php",
        }
      ]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <section class="news__imgarea">
      <div class="news__msk">
      </div>
      <div class="news__mainimg">
        <picture>
          <!-- 桌機web -->
          <source type="image/webp" :srcset="pageData.newsimg.webp"
                  media="(min-width:1200px)">
          <!-- 桌機一般 -->
          <img :src="pageData.newsimg.jpg" :alt="pageData.newsimg.alt"
               class="dsk">
          <!-- 手機web -->
          <source type="image/webp" :srcset="pageData.newsimg.mblwebp"
                  media="(max-width:1199px)">
          <!-- 手機一般 -->
          <img :src="pageData.newsimg.mbljpg" :alt="pageData.newsimg.alt"
               class="mbl">
        </picture>
      </div>
      <div class="blue__blue dsk"></div>
      <div class="blue__box aniMbl">
        <div class="news__title">
          <h2 class="en__title">
            <span class="en__txtAn1">N</span>
            <span class="en__txtAn1">e</span>
            <span class="en__txtAn1">w</span>
            <span class="en__txtAn1">s</span>
            <span class="en__txtAn1">&ensp;</span>
            <span class="en__txtAn1">E</span>
            <span class="en__txtAn1">v</span>
            <span class="en__txtAn1">e</span>
            <span class="en__txtAn1">n</span>
            <span class="en__txtAn1">t</span>
            <span class="en__txtAn1">s</span>
          </h2>
          <p class="cn__title">
            最新消息
            <!-- <span class="ch__txtAn1"></span>
            <span class="ch__txtAn1"></span>
            <span class="ch__txtAn1"></span>
            <span class="ch__txtAn1"></span> -->
          </p>
        </div>
      </div>
      <div class="font__news dsk">
        <img src="html/img/news/font-news.png" alt="">
      </div>

    </section>

    <section class="news__tabsslide">

      <div class="container tab__cco">
        <div class="tabs">
          <a href="javascript:;" v-for="list in pageData.tab">
            <% list.tabtitle %>
          </a>
        </div>
        <div class="swiper-container swiper-tabs1">
          <div class="swiper-wrapper">
            <template v-for="show in pageData.tab">
              <div class="swiper-slide">
                <article class="post">
                  <div class="post__txt">
                    <h2 class="date">
                      <% show.date %>
                    </h2>
                    <p class="tab__week">
                      <% show.week %>
                    </p>
                    <p class="tab__info" v-html="show.info"></p>
                    <p class="tab__class">
                      <% show.class %>
                    </p>
                    <a class="btn__link" :href="show.link">
                      閱 讀 更 多
                    </a>
                  </div>
                  <div class="post__img">
                    <picture>
                      <!-- 桌機web -->
                      <source type="image/webp" :srcset="show.webp">
                      <!-- media="(max-width:1200px)" -->
                      <!-- 桌機一般 -->
                      <img :src="show.jpg" :alt="show.alt" class="">
                      <!-- 手機web -->
                      <!-- <source type="image/png" :srcset="pageData.webm"
                            media="(min-width:1200px)"> -->
                      <!-- 手機一般 -->
                      <!-- <img src="" alt="" class="mbl"> -->
                    </picture>
                  </div>
                </article>
              </div>
            </template>


          </div>
        </div>
      </div>

    </section>

    <section class="news__last">
      <div class="container news__cco">
        <h2 class="en__title">
          Last&ensp;News
        </h2>
        <div class="list__area" v-for="lists in pageData.list">
          <span class="date">
            <% lists.data %>
          </span>
          <span class="class dsk">
            <% lists.class %>
          </span>
          <span class="info" v-html="lists.info">
          </span>
          <span class="class mbl">
            <% lists.class %>
          </span>
          <a class="list__btn" :href="lists.link">Read&ensp;More</a>
        </div>
      </div>
    </section>

    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/news.min.js"></script>
</body>

</html>