<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/news-in.css" />

  <script>
    const pageData = {
      "data": "2020.09.05",
      "week": "THU",
      "mainTitle": "墨達思於2019 PLASCOM TAIWAN 展示塑料創新應用並舉辦多場研討交流會",
      "class": "最新消息",
      "mainImg": "html/img/news-in/main-img.jpg",
      "mainwebp": "html/img/news-in/main-img.webp",
      "mainalt": "",
      "info": "身為全球熱塑型塑料領導廠商的墨達思實業，將於9月13-16日盛大參與第一屆臺灣國際塑橡膠暨複材工業展（PLASCOM TAIWAN），展出以「精采時刻，源自奇美」為主題，以墨達思創新高品質塑料，與客戶共同合作開發之各種讓消費者生活更精采、便利的產品。在4天展覽期間，更天天安排精彩豐富的活動，特別針對食品接觸級塑料、汽配產業塑料、網通產業塑料進行研討交流會，以及舉辦首次的醫用塑料發表會。透過第一屆PLASCOM TAIWAN展覽，墨達思期望藉此展會平台展示墨達思與客戶共同合作之豐富動能並共探塑橡膠的最新發展。面對氣候變遷、新科技發展、健康意識抬頭、人口高齡化等議題，墨達思的材料研發方向將朝向對環境更友好、更高機能性、更安全、及滿足健康照護所需，而這些都是產業的新方向與新機會。",
      "infoListTitle": "秉持「信賴」、「安心」、「創新」之核心價值，墨達思展出重點包括：",
      "text1": "<b>1、新一代食品接觸級ABS、SAN塑料：</b>墨達思POLYLAC® ABS PA-757F、KIBISAN® SAN FG<br>墨達思食品接觸級塑料POLYLAC®ABS PA-757F、KIBISAN®SAN FG，不僅同時符合歐盟食品接觸法規EU No. 10/2011、德國食品和飲食用品法LFGB、美國食品藥品管理局FDA，以及日本厚生省食品容器安全檢驗等國際嚴格安規，其低化學物質遷移的獨有技術，更可化解容器因物質遷移而影響飲食安全之疑慮，成為各類食品飲料包裝與容器的最佳選擇。",
      "text2": "<b>2、新一代醫療器材用塑料：</b>WONDERLITE® PC-115P<br>墨達思多年來持續發展高品質之醫療器材用塑料，除了原適用於非接觸式醫療器材用料外，近期將產品發展升級至可接觸式醫療器材用料，提供更安全穩定之高品質塑料，矢志成為醫療器材材料解決方案的領導供應商。針對可接觸性用途，目前已開發出WONDERLITE® PC-115P，通過ISO 10993生物相容性測試，適用於環氧乙烷（Ethylene Oxide, EO）與gamma射線消毒。此外，墨達思採用非光氣法製程，提供更乾淨環保，不含氯且具優異流動性之PC，適用於血液透析器、輸液部件等應用領域。",
      "text3": "<b>３、舒適、低氣味汽車內飾件用塑料：</b>POLYLAC®低氣味系列ABS<br>為打造更舒適的車內空間，墨達思已開發汽車內飾件用POLYLAC®低氣味系列ABS ，可達到車廠低氣味標準，提升感官舒適度。",
      "text4": "<b>4、網通產品與車用高機能複合材料：</b>WONDERLOY®PC Alloy、阻燃WONDERLITE®PC<br>墨達思高機能複合材料WONDERLOY®PC Alloy與阻燃WONDERLITE®PC，皆具備環保無鹵阻燃、高強度、高耐熱、高耐候、耐低溫衝擊等特性，可廣泛應用在機頂盒、路由器、戶外基地台等網通產品及汽車內、外飾件。結合墨達思原廠染色服務，能夠提供客戶兼顧高品質和色彩多樣性的產品選擇。墨達思主要五大產品線為塑膠、橡膠、電子材料、複合材料、及特用化學品，原物料創新發展半世紀來，不斷被應用於生活中各式用品的加工製造，目前廣泛應用於生活各大產業，包含交通運輸、家電用品、科技與辦公用品、玩具與運動用品、食品接觸容器、美妝包裝、居家生活用品、醫療器材、建築材料等。 (以上文字為假資料)"
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->

    <div class="main__img">
      <picture>
        <!-- 桌機web -->
        <source type="image/webp" srcset="html/img/news-in/news-in.webp">
        <!-- media="(max-width:1200px)" -->
        <!-- 桌機一般 -->
        <img src="html/img/news-in/news-in.jpg" alt="" class="">
        <!-- 手機web -->
        <!-- <source type="image/png" :srcset="pageData.webm"
                  media="(min-width:1200px)"> -->
        <!-- 手機一般 -->
        <!-- <img src="" alt="" class="mbl"> -->
      </picture>
    </div>
    <div class="font__newsin dsk">
      <img src="html/img/news-in/News_Events.png" alt="">
    </div>
    <div class="mbl__use mbl"></div>
    <section class="container newsin__cco">
      <div class="container">
        <h3 class="data">
          <% pageData.data %>
        </h3>
        <p class="week">
          <% pageData.week %>
        </p>
        <h2 class="maintitle">
          <% pageData.mainTitle %>
        </h2>
        <p class="class">
          <% pageData.class %>
        </p>
        <div class="img">
          <picture>
            <!-- 桌機web -->
            <source type="image/webp" :srcset="pageData.mainwebp">
            <!-- media="(max-width:1200px)" -->
            <!-- 桌機一般 -->
            <img :src="pageData.mainImg" :alt="pageData.mainalt" class="">
            <!-- 手機web -->
            <!-- <source type="image/png" :srcset="pageData.webm"
                        media="(min-width:1200px)"> -->
            <!-- 手機一般 -->
            <!-- <img src="" alt="" class="mbl"> -->
          </picture>
        </div>
        <p class="info" v-html="pageData.info">
        </p>
        <h3 class="list__title">
          <% pageData.infoListTitle %>
        </h3>
        <p class="txt" v-html="pageData.text1">
        </p>
        <p class="txt" v-html="pageData.text2">
        </p>
        <p class="txt" v-html="pageData.text3">
        </p>
        <p class="txt" v-html="pageData.text4">
        </p>
        <a class="back__btn" href="news.php">
          返&nbsp;回&nbsp;上&nbsp;頁
        </a>
      </div>
    </section>


    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/news-in.min.js"></script>
</body>

</html>