<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/product.css" />

  <script>
    const pageData = {
      "group": [
        {
          "title": "BOOST",
          "info": "PROVIDES A MASSIVE UPGRADE IN WHEEL STIFFNESS AND STABILITY.",
          "list": [
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "1MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "2MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "3MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "4MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "5MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "6MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "7MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            }
          ]
        },
        {
          "title": "CITY",
          "info": "",
          "list": [
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "1MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "2MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "3MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "4MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "5MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "6MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            },
            {
              "img": "html/img/product/product-test.jpg",
              "webp": "html/img/product/product-test.webp",
              "title": "7MD-CS101R",
              "info": "MaDE for Rear hub",
              "href": ""
            }
          ]
        }
      ]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <div class="product__wrap">
      <div class="product__img">
        <picture>
          <!-- 桌機web -->
          <source type="image/webp" srcset="html/img/product/product-img.webp"
                  media="(max-width:1200px)">
          <!-- 桌機一般 -->
          <img src="html/img/product/product-img.jpg" alt="" class="dsk">
          <!-- 手機web -->
          <!-- <source type="image/png" :srcset="pageData.webm"
                media="(min-width:1200px)"> -->
          <!-- 手機一般 -->
          <!-- <img src="" alt="" class="mbl"> -->
        </picture>
      </div>

      <div class="font__product">
        <img src="html/img/product/Transportation.png" alt="" class="dsk">
      </div>

      <div class="group__wrap">
        <template v-for="group in pageData.group">
          <section class="product__group">
            <div class="group__title">
              <h2 class="en__title">
                <% group.title %>
              </h2>
              <p class="en__info" v-html="group.info">

              </p>
            </div>
            <div class="container group-container">
              <template v-for="card in group.list">
                <div class="list__card">
                  <div class="card__img">
                    <picture>
                      <!-- 桌機web -->
                      <source type="image/webp" :srcset="card.webp"
                              media="(max-width:1200px)">
                      <!-- 桌機一般 -->
                      <img :src="card.img" alt="" class="dsk">
                      <!-- 手機web -->
                      <!-- <source type="image/png" :srcset="pageData.webm"
                              media="(min-width:1200px)"> -->
                      <!-- 手機一般 -->
                      <!-- <img src="" alt="" class="mbl"> -->
                    </picture>
                  </div>
                  <div class="card__txt">
                    <h3 class="title">
                      <% card.title %>
                    </h3>
                    <p class="info" v-html="card.info"></p>
                    <a class="link__btn" href="">詳細</a>
                  </div>
                </div>
              </template>
            </div>
          </section>
        </template>

      </div>

    </div>

    <div id="anchorScrollDown"></div>

    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->
  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/product.min.js"></script>
</body>

</html>