<!DOCTYPE html>
<html lang="zh-Hant-TW" class="no-js">

<head>
  <!-- <script
          src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js'></script> -->
  <!-- <script
          src='https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.js'></script> -->
  <!-- INCLUDESCRIPT BLOCK : common_link.php -->
  <link rel="stylesheet" href="html/css/product-slide.css" />

  <script>
    const pageData = {
      "slide": [
        {
          "title": "Round rod",
          "class": "1圓棒系列",
          "info": "1可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-01@3x.jpg",
          "webp": "html/img/pro/slide-01@3x.webp",
          "sjpg": "html/img/pro/slide-01.jpg",
          "swebp": "html/img/pro/slide-01.webp",
          "href": "product-in.php"
        },
        {
          "title": "Round rod",
          "class": "2圓棒系列",
          "info": "2可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-02@3x.jpg",
          "webp": "html/img/pro/slide-02@3x.webp",
          "sjpg": "html/img/pro/slide-02.jpg",
          "swebp": "html/img/pro/slide-02.webp",
          "href": "product-in.php"

        },
        {
          "title": "Round rod",
          "class": "3圓棒系列",
          "info": "3可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-01@3x.jpg",
          "webp": "html/img/pro/slide-01@3x.webp",
          "sjpg": "html/img/pro/slide-01.jpg",
          "swebp": "html/img/pro/slide-01.webp",
          "href": "product-in.php"
        },
        {
          "title": "Round rod",
          "class": "4圓棒系列",
          "info": "4可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-02@3x.jpg",
          "webp": "html/img/pro/slide-02@3x.webp",
          "sjpg": "html/img/pro/slide-02.jpg",
          "swebp": "html/img/pro/slide-02.webp",
          "href": "product-in.php"
        },
        {
          "title": "Round rod",
          "class": "5圓棒系列",
          "info": "5可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-02@3x.jpg",
          "webp": "html/img/pro/slide-02@3x.webp",
          "sjpg": "html/img/pro/slide-01.jpg",
          "swebp": "html/img/pro/slide-01.webp",
          "href": "product-in.php"
        },
        {
          "title": "Round rod",
          "class": "6圓棒系列",
          "info": "6可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-02@3x.jpg",
          "webp": "html/img/pro/slide-02@3x.webp",
          "sjpg": "html/img/pro/slide-02.jpg",
          "swebp": "html/img/pro/slide-02.webp",
          "href": "product-in.php"
        },
        {
          "title": "Round rod",
          "class": "7圓棒系列",
          "info": "7可收邊、製作線條、 區隔、 裝飾 可訂製尺寸簡單介紹材料特性或是常用的應用(以上為假資料)",
          "jpg": "html/img/pro/slide-02@3x.jpg",
          "webp": "html/img/pro/slide-02@3x.webp",
          "sjpg": "html/img/pro/slide-02.jpg",
          "swebp": "html/img/pro/slide-02.webp",
          "href": "product-in.php"
        }
      ]
    };
  </script>
</head>

<body>
  <main id="mainContainer" class="main-container">
    <!-- INCLUDESCRIPT BLOCK : common_header.php -->
    <div class="slide__wrap">
      <div class="pro__font dsk">
        <img src="html/img/pro/Case_Results.png" alt="">
      </div>
      <div class="slide-container">
        <div class="swiper-container gallery-top top_swiper-container dsk">
          <div class="swiper-wrapper">
            <div class="swiper-slide top_swiper-slide"
                 v-for="show in pageData.slide">
              <a class="top__img" :href="show.href">
                <picture>
                  <!-- 桌機web -->
                  <source type="image/webp" :srcset="show.webp">
                  <!-- media="(max-width:1200px)" -->
                  <!-- 桌機一般 -->
                  <img :src="show.jpg" alt="" class="">
                  <!-- 手機web -->
                  <!-- <source type="image/png" :srcset="pageData.webm"
                          media="(min-width:1200px)"> -->
                  <!-- 手機一般 -->
                  <!-- <img src="" alt="" class="mbl"> -->
                </picture>
              </a>
              <div class="title__area">
                <h2 class="en__title">
                  <% show.title %>
                </h2>
                <p class="class">
                  <% show.class %>
                </p>
                <p class="info" v-html="show.info">
                </p>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->

          <div class="swiper-pagination pro-pagination">
            <!-- 頁數位置 -->
          </div>

          <div class="arrow__btns pro__btns btns-set">
            <div class="swiper-button-prev pro-prev btn-prev"></div>
            <div class="swiper-button-next pro-next btn-next"></div>
          </div>
        </div>
        <div class="swiper-container gallery-thumbs thumbs_swiper-container"
             dir="rtl">
          <div class="swiper-wrapper win_swiper-wrapper">
            <div class="swiper-slide" v-for="win in pageData.slide">
              <a class="win__img" :href="win.href">
                <picture>
                  <!-- 桌機web -->
                  <source type="image/webp" :srcset="win.swebp">
                  <!-- media="(max-width:1200px)" -->
                  <!-- 桌機一般 -->
                  <img :src="win.sjpg" alt="" class="">
                  <!-- 手機web -->
                  <!-- <source type="image/png" :srcset="pageData.webm"
                          media="(min-width:1200px)"> -->
                  <!-- 手機一般 -->
                  <!-- <img src="" alt="" class="mbl"> -->
                </picture>
              </a>
              <div class="win__txt">
                <h2 class="win__entitle mbl">
                  <% win.title %>
                </h2>
                <h3 class="win__class">
                  <% win.class %>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gray__box dsk">

      </div>

    </div>

    <div id="anchorScrollDown"></div>
    <!-- INCLUDESCRIPT BLOCK : common_footer.php -->

  </main>

  <!-- INCLUDESCRIPT BLOCK : common_script.php -->
  <!-- INCLUDESCRIPT BLOCK : vue-components.php -->
  <!-- main -->
  <script src="html/js/product-slide.min.js"></script>
</body>

</html>