<!-- <script type="text/x-template" id="scroll-down-template">
  <div class="scroll-down-template" @click="scrollDown"></div>
</script> -->

<!-- <script>
  Vue.component('scroll-down', {
    template: '#scroll-down-template',
    methods: {
      scrollDown() {
        const t = document.documentElement.scrollTop || document.body.scrollTop;
        if (t < $id('anchorScrollDown').offsetTop) {
          window.scrollTo(
            0,
            t + Math.ceil(($id('anchorScrollDown').offsetTop - t) / 8)
          );
          window.requestAnimationFrame(this.scrollDown);
        }
      }
    }
  });
</script> -->

<!--  -->
<!-- 
<script type="text/x-template" id="go-top-template">
  <div class="go-top-template" @click="goTop"></div>
</script> -->

<!-- <script>
  Vue.component('go-top', {
    template: '#go-top-template',
    methods: {
      goTop() {
        const t = document.documentElement.scrollTop || document.body.scrollTop;
        if (t > 0) {
          window.scrollTo(0, t - t / 8);
          window.requestAnimationFrame(this.goTop);
        }
      }
    }
  });
</script> -->