.list__dsk > .list__link {
  color: #000;
}

.list__dsk > .list__link.active {
  &::after {
    background-color: $main-blue;
  }
}

.list__dsk > .language > a {
  color: #000;
}

.contact__img {
  //border: 1px solid #000;
  position: fixed;
  width: 20.052%;
  height: 100vh;
  //padding-bottom: 56.7708vw;
  //1090px
  //transform: scaleX(0);
  @media screen and(max-width:1199px) {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 0;
    padding-bottom: 175vw;
  }
  > picture {
    @include img-cover;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.font__contact {
  position: absolute;
  width: 72.3958%;
  height: 0;
  padding-bottom: 11.9792vw;
  //230px
  top: 9.375vw;
  left: 0px;
  //border: 1px solid #000;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.contact__wrap {
  //border: 1px solid #f00;
  display: flex;
  width: 100%;
}

.group__wrap {
  //標題資訊區域
  //border: 1px solid #000;
  width: 65.1041%;
  //1250px
  margin-top: 21.875vw;
  //420px
  margin-left: auto;
  margin-right: auto;
  //70px
  margin-bottom: 11.4583vw;
  //220px
  transform: translateX(6vw);
  @media screen and(max-width:1199px) {
    transform: translateX(0vw);
    width: 92.1875%;
    margin-top: 106.25vw;
    margin-left: 0;
    background-color: #fff;
    &::after {
      display: inline-block;
      content: "";
      clear: both;
    }
  }
  > .container {
    //border: 1px solid #000;
    @media screen and(max-width:1199px) {
      width: 91.5254%;
      float: right;
    }
  }
  .info__totalarea,
  .info__from {
    > .title {
      font-size: $dsk2title;
      margin-bottom: 4.6875vw;
      //90px
      font-weight: 700;
      font-family: "Open Sans";
      //border: 1px solid #000;
      position: relative;
      @media screen and(max-width:1199px) {
        font-size: 32px;
        margin-top: 50px;
        margin-bottom: 70px;
        //border: 1px solid #000;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 210px;
        height: 6px;
        background-color: $main-blue;
        transform: translateY(2.0833vw);
        @media screen and(max-width:1199px) {
          transform: translateY(35px);
        }
      }
    }
    > .warp {
      //下面最外框
      //border: 1px solid #f00;
      display: flex;
      justify-content: space-between;
      @media screen and(max-width:1199px) {
        flex-wrap: wrap;
      }
      > .info__txt {
        //標題寬度
        width: 25%;
        line-height: 1.6;
        font-size: $dsk2st;
        font-weight: 700;

        @media screen and(max-width:1199px) {
          width: 100%;
          //border: 1px solid #000;
          font-size: 18px;
          margin-bottom: 70px;
        }
      }
      .info__area {
        width: 74.4%;
        //930px
        //border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 9.8958vw;
        //190px
        @media screen and(max-width:1199px) {
          width: 100%;
        }
        > .item {
          //390px
          //單一選項
          width: 41.9354%;
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 1.0417vw;
          //20px
          display: flex;
          font-size: $dsk1st;
          @media screen and(max-width:1199px) {
            width: 100%;
            flex-direction: column;
            //border: 1px solid #000;
            padding-bottom: 0vw;
            font-size: 14px;
            margin-top: 20px;
          }
          @include first(1) {
            @media screen and(max-width:1199px) {
              //background-color: #f00;
              margin-top: 0px;
            }
          }
          @include last(2) {
            //background-color: #f00;
            padding-top: 2.6042vw;
            //50px
            @media screen and(max-width:1199px) {
              padding-top: 0vw;
            }
          }
          > h3 {
            margin-right: 1.5625vw;
            letter-spacing: 1.6px;
            //30px
            font-weight: 700;
            @media screen and(max-width:1199px) {
              margin-bottom: 20px;
            }
          }
          > p {
            color: #777777;
            letter-spacing: 1.6px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

#register_form {
  //border: 1px solid #000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(-2.6042vw);

  .form-group {
    width: 41.9354%;
    height: 90px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    font-size: $dsk1st;
    @media screen and(max-width:1199px) {
      width: 100%;
      font-size: 14px;
    }
    > input {
      font-size: 16px;
      border: 0;
      display: inline-block;
      width: 78.2052%;
      margin-bottom: 30px;
      @media screen and(max-width:1199px) {
        width: 100%;
        margin-bottom: 0px;
      }
    }

    > label {
      //85px/390===total
      width: 21.7948%;
      display: inline-block;
      margin-bottom: 30px;
      font-weight: 700;
      @media screen and(max-width:1199px) {
        width: 100%;
        margin-bottom: 0px;
        font-size: 14px;
      }
    }
    .help-block {
      //錯誤提示區
      position: absolute;
      bottom: 10px;
      right: 0;
      @media screen and(max-width:1199px) {
        bottom: -20px;
      }
    }
  }
  .form-group2 {
    width: 100%;
    //background-color: #ccc;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    position: relative;
    @media screen and(max-width:1199px) {
      border-bottom: 0;
    }

    > label {
      display: inline-block;
      margin-top: 50px;
      margin-bottom: 10px;
      font-weight: 700;
      @media screen and(max-width:1199px) {
        font-size: 14px;
      }
    }
    > textarea {
      display: inline-block;
      width: 100%;
      border: 0;
      height: 80px;
      border-bottom: 1px solid #e5e5e5;
      @media screen and(max-width:1199px) {
        height: 200px;
        border: 1px solid #e5e5e5;
      }
    }
    .help-block {
      //錯誤提示區
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }
  .submit__btn {
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    width: 11.9792vw;
    //290px
    height: 4.6875vw;
    //90px
    position: absolute;
    bottom: 0;
    right: 0;
    //50px
    border: 1px solid #777777;
    @media screen and(max-width:1024px) {
      margin-top: 50px;
      width: 270px;
      height: 90px;
    }
    @media screen and(max-width:767px) {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 80px;
      height: 40px;
      border-right: 2px solid #b2823d;
      border-bottom: 2px solid #b2823d;
    }
  }
}
.check {
  //border: 1px solid #000;
  position: relative;
  margin-top: 100px;
  @media screen and(max-width:1199px) {
    margin-top: 220px;
    margin-bottom: 130px;
    //border: 1px solid #f00;
  }
}
.check__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(160%);
  @media screen and(max-width:1199px) {
  }
}

#register_form .check .help-block {
  bottom: -15px;
}
