<!-- lazySizesConfig -->
<script>
  window.lazySizesConfig = window.lazySizesConfig || {};
  window.lazySizesConfig.init = false;
</script>
<!-- common -->
<script src="html/js/vender.min.js"></script>
<script src="html/js/common.min.js"></script>
{default-footerjs} {footerjs}
