<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=no"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>title</title>

<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="html/images/favicon.png" />

<!-- common -->
<link rel="stylesheet" href="html/css/common.css" />

<!-- =============================================== -->
<!-- <link rel=“canonical” href=“{指定的標準連結}" /> -->
<!-- <meta name="robots" content="noindex"> -->
<meta name="keywords" content="{web_keywords}" />
<meta name="description" content="{web_description}" />

{headjs} {default-headjs}

<script>
  const commonData = {};
</script>
